<topnav-admin></topnav-admin>


<!--inner-mid-sec-->
<div class="inner-mid-sec white-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 no-padding dashboard_page">

        <h2 class="inner-top-heading">All Orders</h2>
        <div class="services_wrapper">
          <div class="services_info_block clearfix" *ngFor='let eachOrder of allOrders; let i = index;'>

            <div class="col-md-8 ser-lf">
              <div class="services-lf">
                <div class="user-img"><img src="images/pic-1.jpg" alt="" /></div>
              </div>
              <div class="services-rh">
                <h3>{{eachOrder._id}}</h3>
                <h4>Order No. {{eachOrder.stripeChargeId}}</h4>
                <p>Package Title: {{eachOrder.packageId.title}}</p>
                <p>Client Name: {{eachOrder.clientId.Name}}</p>
                <!--<p>{{eachOrder|json}}</p>-->
              </div>
            </div>
            <div class="col-md-4 ser-rh">
              <ul class="time-info">
                
                <li>{{eachOrder.created | date: 'jm'}} </li>
                <li>{{eachOrder.created | date: 'EEEE , dd-MM-y'}} </li>
                <li>Paid $ {{eachOrder.amount/100}} </li>
                
              </ul>
              
            </div>

          </div>






        </div>




      </div>
    </div>
  </div>
</div>
<!--inner-mid-sec-->
<!--fotter-section-->
<footer-section></footer-section>