<topnav-one></topnav-one>

<!--inner-mid-sec-->
<div class="inner-mid-sec white-bg">
  <div class="container">
    <div class="row">





      <div bsModal #learnMoreModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true" [config]="{backdrop: 'static',keyboard:false}">
        <div class="fullscreen-modal">
          <div class="modal-content">

            <div class="modal-body ">
              <button type="button" class="close pull-right" (click)="hideLearnmoreModal();" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>

              <div class="col-md-12 jumbotron" [ngClass]="{'hide': searched}">
                <h3 class="text-center">Local trusted profestionals in your area.</h3>
                <div class="col-md-2">
                  <img src="images/workservice.png" />
                </div>
                <div class="col-md-10">
                  <ul class="list-group">
                    <li class="list-group-item">Monthly packages for mowing and cleaning</li>
                    <li class="list-group-item">Trusted and honest trusted profestionals</li>
                    <li class="list-group-item">100% Guarantee or your service is free</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>

                  </ul>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label" for="inputBasicEmail">Enter your address to continue</label>
                      <!--<input class="form-control" id="inputBasicEmail" name="inputEmail" placeholder="Your address" type="text">-->

                      <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
                        #search [(ngModel)]="searchControl">
                      <input type="hidden" [(ngModel)]="postal_code" id="userZipcode" name="userZipcode" />

                    </div>
                    <div class="form-group text-center">
                      <button type="button" class="btn btn-primary" (click)="searchPackages();">Submit</button>
                    </div>

                  </div>
                </div>


              </div>


              <div class="col-md-12 jumbotron" [ngClass]="{'hide': !searched}">
                <h3 class="text-center">Monthly maintenance packages</h3>
                <p class="text-center">Automatic repeat scheduling, cancel anytime.</p>

                <div class="col-md-6" *ngFor="let package of packages">
                  <h4>{{package.title}}</h4>
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let feature of package.features">{{feature}}</li>
                  </ul>
                  <p class="text-center" [ngSwitch]="package.frequency">
                    ${{package.price}} 
                    <span *ngSwitchCase="'monthly'">Per Month</span>
                    <span *ngSwitchCase="'yearly'">Per Year</span>
                    <span *ngSwitchDefault></span>
                  </p>
                  
                  <div class="form-group text-center">
                    <button type="button" class="btn btn-success" [routerLink]="['/package/purchase',package._id]" *ngIf="loggedIn">Select</button>
                    <button type="button" class="btn btn-success" [routerLink]="['/login']" *ngIf="!loggedIn">Select</button>
                  </div>

                </div>


              </div>




            </div>
          </div>
        </div>
      </div>



      <div bsModal #getStartedModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true" [config]="{backdrop: 'static',keyboard:false}">
        <div class="modal-dialog modal-lg fullscreen-modal">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title pull-left">Get Started</h4>
              <button type="button" class="close pull-right" (click)="getStartedModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
          </div>
        </div>
      </div>




      <div class="col-md-12 no-padding dashboard_page">

        <div class="col-md-2">
          <div class="col-md-12">
            <img src="images/facebook.png" />
          </div>
          <div class="col-md-12">
            <img src="images/twitter.jpeg" />
          </div>
          <div class="col-md-12">
            <img src="images/google.png" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XGSy3_Czz8k?playlist=XGSy3_Czz8k&loop=1"></iframe>
          </div>

        </div>
        <div class="col-md-4 text-center">
          <div class="jumbotron">
            <h3>DONE RIGHT. FIRST TIME</h3>
            <p>We Guarantee our work, or <strong>the Service is Free.</strong></p>
          </div>

          <div class="col-md-12">
            <button class="col-md-4 btn btn-primary pull-left" (click)="learnMoreModal.show()">Learn More</button>
            <button class="col-md-4 btn btn-primary pull-right" (click)="learnMoreModal.show()">Get Started</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--inner-mid-sec-->





<!--fotter-section-->
<footer-section></footer-section>