<div class="top-header-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 padding-lf logo-sec">
        <div class="logo"><a [routerLink]="['/']"><img src="images/logo.png" alt="" /></a> </div>
      </div>
      <div class="col-sm-9 navi-top padding-rh">
        <div class="navi">
          <div class="right-top">
            <div class="navi-bar">
              <nav class="navbar navbar-default">
                <div class="navbar-header">
                  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <div class="collapse navbar-collapse js-navbar-collapse">
                  <div class="navi-menu1">
                    <ul class="nav navbar-nav">
                      <li [ngClass]="{active: router.url==='/admin/vendors'}" *ngIf="loggedIn" ><a [routerLink]="['/admin/vendors']">Vendors</a> </li>
                      <li [ngClass]="{active: router.url==='/admin/packages'}" *ngIf="loggedIn" ><a [routerLink]="['/admin/packages']">Packages</a> </li>
                      <li [ngClass]="{active: router.url==='/admin/deals'}" *ngIf="loggedIn" ><a [routerLink]="['/admin/deals']">Deals</a> </li>
                      <li *ngIf="!loggedIn"><a [routerLink]="['/']">User Site</a> </li>
                      <li *ngIf="loggedIn"><a (click)="logout();">Logout </a> </li>
                    </ul>
                  </div>
                </div>
                <!-- /.nav-collapse --> 
              </nav>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>