* { margin: 0px; padding: 0px; list-style: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; }
img { max-width: 100%; height: auto; width: auto\9; /* ie8 */ border: none; outline: none; vertical-align: middle; }
a,
a:focus { outline: none; }
a:hover,
a:focus { color: #000; text-decoration: none; }
a { text-decoration: none; }
h1,
h2,
h3,
h4,
h5,
h6 { font-weight: 700; margin: 0; padding: 0; text-transform: uppercase; }
p { color: #717171; font-size: 15px; line-height: 20px; }
input,
button,
textarea { font-family: 'museo_sans500'; font-size: 14px; border-radius: 0; -webkit-appearance: none; }
body { font-size: 14px; font-weight: 500; color: #717171; font-family: 'museo_sans500'; background: #fff; line-height: 18px; }
@font-face { font-family: 'montserratlight'; src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'), url('../fonts/montserrat-light-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'museo_sans500'; src: url('../fonts/museosans_0-webfont.woff2') format('woff2'), url('../fonts/museosans_0-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'museo_sans100'; src: url('../fonts/museosans-100-webfont.woff2') format('woff2'), url('../fonts/museosans-100-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'museo_sans300'; src: url('../fonts/museosans-300_1-webfont.woff2') format('woff2'), url('../fonts/museosans-300_1-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
/*.header-top { background: #212124; height:58px; }*/
.header-section { position: relative; z-index: 1; }
.navi { position: relative; text-align: right; }
.login { padding: 0; }
.navi .navbar-nav { float: right; }
.navi .navbar { margin-bottom: 0; border-radius: 0; float: left; width: 100%; position: static; }
.navi .navbar-default { background: none; border: none; }
.navi .container-fluid { padding: 0; margin: 0; }
.navi .navbar-collapse { padding: 0; }
.navi .navbar-default .navbar-nav > li { font-size: 15px; -webkit-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s; padding: 0; }
.navi .navbar-default .navbar-nav > li > a { color: #fff !important; padding: 25px 12px; }
.navi .navbar-default .navbar-nav > li a:hover { background: #103359; color: #fff !important; }
.dropdown-menu-new { display: none; position: absolute; width: 100%; left: 100%; top: 0; background: none repeat scroll 0 0 rgba(137, 68, 136, 0.9); }
.dropdown-menu li { position: relative; }
.navi .navbar-default .navbar-nav > li.join span { display: block; text-align: center; }
.dropdown-menu li:hover .dropdown-menu-new { display: block; }
.navi .navbar-default .navbar-nav > li.active a { background: #fff; color: #3863d0; -webkit-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s; }
.dropdown-menu-new li a { color: #fff; padding: 9px 13px; display: block; font-size: 14px; }
.cooperate-left .row { margin-right: 7px; }
.dropdown-menu-new > li { border-top: 1px solid #fff; border-bottom: 1px solid #fff; display: block; font-size: 14px; font-weight: 300; margin: 0; text-transform: initial; -webkit-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s; white-space: nowrap; }
.navi .dropdown-menu-new { background: #0da3e2; border: 0 none; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; margin: 0; box-shadow: 0 -3px 0 #fff inset; }
.dropdown-menu > li:hover,
.navi .dropdown-menu-new > li:hover { background: #0981b4; -webkit-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s; }
.caret-arr { position: relative; }
.caret-arr:after { position: absolute; right: 15px; top: 15px; content: "?"; font-family: 'FontAwesome'; color: #fff; }
.navi .dropdown-menu ul { background: #1ba8e3; border-bottom-left-radius: 3px; border-bottom-right-radius: 4px; border: 0; box-shadow: 0 -3px 0 #fff inset; }
.navi .dropdown-menu ul > li { display: block; text-transform: initial; font-size: 14px; font-weight: 300; }
.navi .dropdown-menu ul li:last-child a { }
.navi .dropdown-menu ul > li a { color: #fff; padding: 10px 15px; border-bottom: 1px solid #fff; margin: 0px; -webkit-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s; }
.navi .dropdown-menu ul > li > a:hover,
.dropdown-menu ul > li > a:focus { background: #0981b4; color: #fff; }
.navi .dropdown-menu ul li a { display: block; }
.navbar-default .navbar-nav > li.subscribe-btn { margin: 13px 0; }
.navbar-default .navbar-nav > li.subscribe-btn a { padding: 15px 10px !important; }
.navi-bar { display: inline-block; vertical-align: middle; }
.login-deatil { display: inline-block; }
.login-deatil a { display: inline-block; vertical-align: middle; }
.login { color: #fff; text-transform: uppercase; }
.sign-up-btn { text-transform: uppercase; color: #fff; font-weight: 700; border-radius: 2px; border: solid 1px rgba(255,255,255,0.6); color: rgba(255,255,255,0.6); font-size: 13px; padding: 8px 23px; display: block; text-align: center; }
.sign-up-btn:hover { background: #fff; color: #000; }
.search-inq:hover { opacity: 0.8; }
.sign-up-btn i { padding-right: 5px; }
.navi .navbar-default .navbar-nav > li.active a { background: #103359; color: #fff !important; }
.navi .navbar-default .navbar-nav > li.join { margin-left: 10px; padding: 0; }
.navi .navbar-default .navbar-nav > li.join a { padding: 0; color: #333399; }
.navi .navbar-default .navbar-nav > li.join span { display: block; margin: 0 0 5px; }
.navi .navbar-default .navbar-nav > li.join a { background: #ffffff none repeat scroll 0 0; color: #333399 !important; padding: 13px 29px; }
.navi .navbar-default .navbar-nav > li.sign a { padding: 13px 20px; }
.navi .navbar-default .navbar-nav > li.sign span { display: block; text-align: center; padding: 0; margin: 0 0 5px; }
.down-arrow { color: #fff; padding-left: 5px; }
.navi .navbar-default .navbar-nav > li.select-wrp { background: #214ec0; }
/*mobile menu*/
.main-menu { width: 100%; float: left; }
.toggleMenu { display: none; background: #666; padding: 10px 15px; color: #fff; }
a.meanmenu-reveal { display: none; }
.mean-container .mean-bar { float: left; width: 100%; position: relative; background: #212124; padding: 4px 0; min-height: 42px; z-index: 9; }
.mean-container a.meanmenu-reveal { width: 22px; height: 22px; padding: 13px 13px 11px 13px; position: absolute; top: 0; right: 0; cursor: pointer; color: #fff; text-decoration: none; font-size: 16px; text-indent: -9999em; line-height: 22px; font-size: 1px; display: block; }
.mean-container a.meanmenu-reveal span { display: block; background: #fff; height: 3px; margin-top: 3px; }
.mean-container .mean-nav { float: left; width: 100%; background: #d52d49; margin-top: 44px; }
.mean-container .mean-nav ul { padding: 0; margin: 0; width: 100%; list-style-type: none; }
.mean-container .mean-nav ul li { position: relative; float: left; width: 100%; }
.mean-container .mean-nav ul li a { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; font-size: 13px; display: block; float: left; width: 100%; padding: 14px 10px; margin: 0; text-align: left; color: #fff; border-top: 1px solid #383838; border-top: 1px solid rgba(255,255,255,0.5); text-decoration: none; text-transform: uppercase; }
.mean-container .mean-nav ul li a:hover { background: #444; color: #fff; }
.mean-container .mean-nav ul li a.mean-expand { margin-top: 1px; width: 49px; height: 49px; padding: 12px !important; text-align: center; position: absolute; right: 0; top: 0; z-index: 2; background: rgba(255,255,255,0.1); border: none !important; border-left: 1px solid rgba(255,255,255,0.4) !important; border-bottom: 1px solid rgba(255,255,255,0.2) !important; line-height: 24px; }
.mean-container .mean-nav ul li a.mean-expand:hover { background: rgba(0,0,0,0.9); }
.mean-container .mean-push { float: left; width: 100%; padding: 0; margin: 0; clear: both; }
.mean-nav .wrapper { width: 100%; padding: 0; margin: 0; }
.mean-container .mean-bar,
.mean-container .mean-bar * { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
.mean-remove { display: none !important; }
/*mobile menu*/
.padding-lf { padding-left: 0; }
.padding-rh { padding-right: 0; }
.no-padding { padding: 0; }
.white-bg { background: #fff; }
.grey-bg { background: #f5f5f5; }
.clearfix:after { content: ""; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
.search_block_wrp { margin-top: -105px; }
.search_head { position: inherit; display: inline-block; width: 345px; padding: 15px 0; text-align: center; background: #333399; position: relative; }
.search_head:after { background: #333399; bottom: 0; content: ""; display: block; position: absolute; right: -10px; top: 0; transform: skew(22deg); width: 25px; }
.search_head h2 { font-size: 18px; color: #fff; text-transform: none; font-weight: normal; }
.search_content { background: #ffffff; padding: 30px 100px; box-shadow: 0 5px 3px rgba(0,0,0,0.1); }
.buy_block { border: solid 1px #dddddd; height: 60px; }
.left-block { width: 15%; float: left; border-right: solid 3px #e5e5e5; }
.left-block .select-block .sbHolder { background: none; border: none; border-radius: 3px; box-shadow: none; color: #7d7d7d; font-size: 18px; float: none; width: 100%; height: 60px; line-height: 60px; font-style: normal; }
.left-block .select-block .sbSelector { width: 100%; height: 60px; line-height: 60px; padding-left: 5px; }
.left-block .select-block .sbToggle { height: 60px; background: url(../images/buy_arw_dwn.png) no-repeat center center; right: 20px; padding-left: 25px; }
.left-block .select-block .sbToggleOpen { background: rgba(0, 0, 0, 0) url("../images/buy_arw_up.png") no-repeat scroll center center; }
.left-block .select-block .sbOptions li { }
.left-block .select-block .sbOptions a { line-height: 18px; padding: 5px 10px; }
.left-block .select-block .sbOptions { background: #fdfdfd; border: 1px solid #eeeeee; top: 59px !important; width: 100%; }
.right-block { width: 85%; float: right; }
.select-block .sbHolder { border: 1px solid #eeeeee; border-radius: 3px; box-shadow: none; color: #7d7d7d; font-size: 13px; float: none; width: 100%; height: 40px; line-height: 40px; font-style: normal; }
.select-block .sbSelector { width: 100%; height: 40px; line-height: 40px; }
.select-block .sbToggle { height: 40px; }
.select-block .sbOptions li { }
.select-block .sbOptions a { line-height: 18px; padding: 5px 10px; }
.select-block .sbOptions { background: #fdfdfd; border: 1px solid #eeeeee; top: 39px !important; width: 100%; }
/*--top-header-section--*/
.top-header-sction { background: #333399; }
.slider-section .banner-img > img { width: 100%; }
.slider-section .banner-img:after { background: rgba(7, 20, 35, 0.81); height: 100%; left: 0; position: absolute; right: 0; top: 0; width: 100%; content: ""; }
.banner-content { position: absolute; top: 0; left: 0; right: 0; width: 100%; margin: 0 auto; /* background: rgba(245,245,245,0.9); */ z-index: 2; /* border: solid 2px #dddddd; */ height: 100%; text-align: center; }
.banner-content .container,
.banner-content .container .row { height: 100%; }
.slider-section { position: relative; }
.banner-content h1 { color: #555555; line-height: 30px; font-size: 22px; font-weight: 700; text-transform: uppercase; }
.banner-content h1 span { display: block; color: #ffc600; }
.join { color: #17406b; font-weight: 300; font-size: 30px; text-decoration: underline; text-transform: uppercase; margin: 40px 0; display: inline-block; font-family: 'museo_sans300'; }
ul.social { margin: 0; }
ul.social li { display: inline-block; margin-right: 15px; position: relative; width: 17%; border-radius: 3px; padding: 0 0 0 40px; }
ul.social li a { color: #ffffff; font-size: 17px; padding: 16px 0; display: block; }
ul.social li a span { position: absolute; top: 0; width: 50px; height: 50px; line-height: 50px; left: 0; }
ul.social li:last-child { margin-right: 0; }
.facebook-block { background: #3b5998; }
.google-block { background: #df4a32; }
.email-block { background: #3863d0; }
ul.social li.facebook-block a span { background: #2f4e91; border-right: solid 1px #2f477a; border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
ul.social li.google-block a span { background: #d9432b; border-right: solid 1px #b23b28; border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
ul.social li.email-block a span { background: #2c58c7; border-right: solid 1px #2d4fa6; border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
/*---properties_search_section---*/
.properties_search_section { background: url(../images/bg2.png) no-repeat bottom center; padding: 0 0 105px; }
.home_icon { border: solid 1px rgba(0,0,0,0.2); display: inline-block; margin: 40px 0; position: relative; }
.home_icon::after { background: #cccccc; content: ""; height: 1px; left: -99999px; position: absolute; top: 35px; width: 99999px; }
.hover_img { position: relative; }
.hover_img:after { background: rgba(223, 32, 64, 0.85) none repeat scroll 0 0; height: 100%; left: 0; position: absolute; right: 0; top: 0; content: ""; }
.hover_txt { position: absolute; top: 0; z-index: 1; left: 0; right: 0; text-align: center; height: 100%; }
.hover_block { display: none; }
.services-block:hover .hover_block { display: block; -webkit-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s; }
.services_box:hover .hover_block { display: block; -webkit-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s; }
.services-block:hover .services_box { display: none; }
.services_box { height: 350px; border: solid 2px rgba(0,0,0,0.2); text-align: center; background: #fff; }
.price_info { color: #333399; font-weight: 700; font-size: 36px; margin: 55px 0 20px; }
.services_box h3 { font-size: 17px; color: #717171; font-weight: 700; }
.join-now { color: #fff; text-decoration: underline; padding: 30px 0 0; display: inline-block; }
.join-now:hover { color: #fff; }
.hover_block .price_info { color: #fff; }
.services_box .hover_block h3 { color: #fff; }
.hover_block h3 { color: #fff; }
.logo { float: left; }
.navi-top { float: right; }
/*---End-properties_search_section---*/


/*---properties_section---*/
.properties_section { padding: 80px 0 50px; position: relative; position: relative; }
.properties_tab_block .nav-tabs { text-align: center; border: none; }
.properties_tab_block .nav-tabs > li { display: inline-block; float: none; margin-bottom: -1px; }
.properties_tab_block .nav-tabs > li { background: #f5f5f5; }
.properties_tab_block .nav-tabs > li > a { color: #717171; border: solid 2px #e2e2e2; border-radius: 0; margin: 0 15px; padding: 11px 30px; }
.properties_tab_block .nav-tabs > li.active > a,
.properties_tab_block .nav-tabs > li.active > a:hover,
.properties_tab_block .nav-tabs > li.active > a:focus,
.properties_tab_block .nav-tabs > li > a:hover { background: #333399; color: #fff; border: solid 2px #333399; }
.product_deatil_info { padding: 40px 0 0; }
.project_block { margin: 0 0 30px; }
/*---End-properties_section---*/


/*--partners-section--*/

.partners-section { padding: 20px 0; }
ul.logo-link { margin: 0; }
ul.logo-link li { display: inline-block; padding: 0 42px; vertical-align: middle; }
ul.logo-link li a { display: block; }
.partners-section h2 { color: #333399; padding: 25px 0; }
.partners-section h2 span { display: block; font-size: 16px; color: #b6b6b6; font-weight: normal; }
.partner-rh { border-left: solid 1px #d6d6d6; text-align: center; }
/*--End-partners-section--*/






/*--latest-news-section--*/
.top-header-sec { text-align: center; padding: 0 0 60px; }
.top-header-sec p { color: #4a4a4a; font-weight: 700; }
.deatil-info { font-size: 12px; padding: 35px 0 0; border-top: solid 1px #e5e5e5; }
.deatil-info p { color: #333399; margin: 0; }
.owl-wrapper { width: 100%; }
.latest_img { margin: 0 0 15px; }
.latest-text { border-top: solid 1px #e5e5e5; padding: 10px 0 0; font-size: 12px; }
.latest-left { color: #333399; }
.latest-right { }
.latest-box { width: 100%; }
.latest-news-section { background: url(../images/bg.png) no-repeat top center; padding: 80px 0 130px; position: relative; }
/*--Ebd-latest-news-section--*/



/*--fotter-section---*/  
.no-padding { padding: 0; }
.call-info { padding: 0 0 50px; }
.call-info-deatil i { display: inline-block; width: 26%; font-size: 60px; color: rgba(255,255,255,0.3); vertical-align: middle; }
.call-info-deatil p { display: inline-block; width: 72%; display: inline-block; font-size: 20px; color: #fff; vertical-align: top; }
.call-info-deatil p a { color: #fff; font-size: 18px; }
.fotter-section { background: #17406b url(../images/fotter-bg.png) no-repeat bottom center; padding: 50px 0; }
.fotter-links { padding: 0px 0 0px; }
.fotter-block p { color: rgba(255,255,255,0.7); margin: 0 0 15px; font-family: 'museo_sans300'; font-size: 15px; }
.ft-heading { font-size: 16px; color: #ffffff; font-weight: 500; text-transform: uppercase; line-height: normal; margin: 0 0 40px; }
ul.ft_links { margin: 0; }
ul.ft_links li { line-height: 30px; font-size: 15px; }
ul.ft_links li a { color: rgba(255,255,255,0.7); }
.fotter-links .input-fill { width: 100%; font-size: 13px; font-family: 'museo_sans300'; color: rgba(255,255,255,0.8); border: none; height: 40px; background: rgba(255,255,255,0.2); border-radius: 1px; padding: 0 15px; }
.copy-right-section { background: #11355b; padding: 20px 0; }
.copy-lf p a:hover,
ul.ft_links li a:hover,
.call-info-deatil p a:hover,
.account-txt a:hover,
.forgot-txt a:hover,
ul.packages-info li a:hover { color: #ffc600; }
.forgot-txt a:hover,
.account-txt a:hover { color: #17406b; }
.copy-right-section p { margin: 0; color: #fff; font-family: 'museo_sans300'; }
.submit-btn { font-size: 16px; color: #fff; font-weight: 700; text-transform: uppercase; min-width: 130px; background: none; border: solid 2px #fff; border-radius: 2px; padding: 7px 0; text-align: center; }
.submit-btn:hover { background: #fff; color: #111; }
/*--End-fotter-section---*/

.top-header-section { background: #17406b; border-bottom: solid 2px #fff; }
.logo { padding: 25px 0; }
ul.social-icons { margin: 0; }
ul.social-icons li { display: inline-block; padding-right: 25px; font-size: 36px; color: #ffc600; }
ul.social-icons li a { color: #fff; }
ul.social-icons li:last-child { padding-right: 0; }
.fotter-input { position: relative; background: #fff; border-radius: 30px; height: 37px; }
.fotter-input input { background: none; border: none; height: 100%; padding: 0 20px; font-size: 13px; color: #717171; }
.fotter-input button { width: 88px; height: 35px; border: none; border-radius: 30px; position: absolute; right: 1px; top: 1px; background: #17406b; font-size: 13px; color: #fff; }
.fotter-input button:hover { background: #17406b; color: #fff; }
.btn-bg { background: #3661ce; color: #fff; }
.select-block .sbHolder { background: none; border: none; border-radius: 0px; box-shadow: none; color: #fff; font-size: 14px; float: none; width: 100%; height: 60px; line-height: 60px; font-style: normal; font-family: 'Montserrat', sans-serif; }
.select-block .sbSelector { width: 100%; height: 70px; line-height: 70px; padding-left: 5px; }
.select-block .sbToggle { height: 70px; background: url(../images/arw_dwn.png) no-repeat center center; right: 2px; padding-left: 25px; }
.select-block .sbToggleOpen { background: rgba(0, 0, 0, 0) url("../images/arw_up.png") no-repeat scroll center center; }
.select-block .sbOptions li { }
.select-block .sbOptions a { line-height: 18px; padding: 5px 10px; }
.select-block .sbOptions { background: #fdfdfd; border: 1px solid #eeeeee; top: 59px !important; width: 100%; }
.select-block .sbHolder { border: none; border-radius: 3px; box-shadow: none; color: #7d7d7d; font-size: 13px; float: none; width: 100%; height: 70px; line-height: 70px; font-style: normal; }
.select-block .sbSelector { width: 100%; height: 70px; line-height: 70px; }
.select-block .sbOptions li { }
.select-block .sbOptions a { line-height: 18px; padding: 10px 10px !important; }
.select-block .sbOptions { background: #3863d0; border: none; top: 70px !important; width: 100%; }
.select-block { height: 100%; padding: 0 0 0 20px; }
.navi .navbar-default .navbar-nav > li.select-wrp { background: #214ec0 none repeat scroll 0 0; padding: 0; height: 70px; text-align: center; width: 215px; position: relative; }
.navi .navbar-default .navbar-nav > li.select-wrp:after { position: absolute; top: 18px; left: 20px; content: ""; background: url(../images/building.png) no-repeat left; width: 30px; height: 34px; }
.navi .navbar-default .navbar-nav > li.select-wrp a { padding: 0; color: #fff; }
.navi .navbar-default .navbar-nav > li.select-wrp a:hover { background: none; color: #fff !important; }
.mid-up { display: table; height: 100%; vertical-align: middle; width: 100%; }
.mid-in { display: table-cell; vertical-align: middle; }
.main-heading { font-size: 30px; text-transform: uppercase; color: #17406b; margin: 0 0 15px; padding: 0 0 20px; text-align: center; position: relative; }
.community-calendar { padding: 60px 0; }
.community_tab_block .nav-tabs { text-align: center; border: none; margin: 0 0 40px; position: relative; }
.community_tab_block .nav-tabs > li { display: inline-block; float: none; margin-bottom: -1px; }
.community_tab_block .nav-tabs > li { background: none; }
.community_tab_block .nav-tabs > li > a { color: #333333; background: #f5f5f5; border: solid 1px #dddddd; border-radius: 30px; margin: 0 10px; padding: 11px 30px; font-size: 16px; }
.community_tab_block .nav-tabs > li.active > a,
.community_tab_block .nav-tabs > li.active > a:hover,
.community_tab_block .nav-tabs > li.active > a:focus,
.community_tab_block .nav-tabs > li > a:hover { background: #17406b; color: #fff; border: solid 1px #17406b; }
.community_tab_block { padding: 40px 0 0; }
.community-table table { }
.community-table table th { background: #17406b; font-size: 16px; padding: 16px 20px; text-align: center; color: #fff; border-right: solid 2px rgba(213,213,213,0.4); font-weight: 400; }
.community-table table td { font-size: 14px; padding: 16px 20px; border-right: solid 2px rgba(213,213,213,0.4); color: #263349; }
.community-table table tr:nth-child(even) { background: #f5f5f5; }
.community-table table tr:nth-child(odd) { background: #ffffff; }
.community-table table th:first-child { text-align: left; background: #eeeeee; color: #263349; }
.community-table table td:last-child,
.community-table table th:last-child { border: none; }
.community-table table .row-bg td:first-child { background: #f2f2f2; }
.how-its-works { position: relative; background: url(../images/bg1.jpg) no-repeat top center; padding: 60px 0; background-size: cover; }
.how-its-works:after { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: ""; background: rgba(17,52,91,0.84); z-index: 2; }
.work_block { text-align: center; }
.online { background: url(../images/online.png) no-repeat; width: 90px; height: 60px; margin: 0 auto; }
.quality { background: url(../images/quality.png) no-repeat; width: 65px; height: 75px; margin: 0 auto; }
.relax { background: url(../images/relax.png) no-repeat; width: 58px; height: 73px; margin: 0 auto; }
.how-its-works-page { position: relative; z-index: 3; }
.work_heading { padding: 100px 0 40px; font-size: 17px; font-weight: 500; color: #3863d0; text-transform: uppercase; margin: 0; }
.work_block_sec { background: #fff; padding: 0 0 30px; border-bottom: solid 5px #bcbcbc; position: relative; }
.work-content { min-height: 88px; padding: 0 30px; }
.our-services { padding: 60px 0; }
.gray-bg { background: #f5f5f5; }
.more-btn { display: inline-block; border: solid 1px #17406b; border-radius: 30px; font-size: 16px; font-weight: 500; min-width: 180px; padding: 15px 10px; text-transform: uppercase; color: #17406b; text-align: center; }
.more-btn:hover { color: #fff; background: #17406b; }
.our-services .main-heading { margin: 0 0 50px; }
.work-content p,
.services_block p { font-size: 15px; color: #686868; line-height: 22px; margin: 0; font-family: 'museo_sans100'; }
.icon-block { background: #ffffff none repeat scroll 0 0; border-radius: 50%; height: 115px; left: 0; margin: 0 auto; overflow: hidden; position: absolute; right: 0; top: -50px; width: 115px; z-index: 9; padding: 25px 0; }
.work_heading a { color: #17406b; }
.work_block_sec:hover { border-bottom: solid 5px #17406b; }
.work-head { padding: 0 0 70px; }
.why-community-services { background: url(../images/bg2.jpg) no-repeat; background-size: cover; text-align: center; position: relative; width: 100%; padding: 60px 0; }
.why-community-services:after { background: rgba(17, 52, 91, 0.86) none repeat scroll 0 0; content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 2; }
.community_txt_block { position: relative; z-index: 3; }
.services_block p { margin: 0 0 25px; }
ul.services_info { margin: 0; text-align: center; padding: 35px 0; }
ul.services_info li { display: inline-block; vertical-align: top; margin-right: 30px; }
.services-one { width: 120px; height: 120px; line-height: 120px; text-align: center; border-radius: 100%; background: #fff; border: solid 2px #476c94; margin: 0 auto; }
.icon-two { width: 125px; height: 125px; line-height: 125px; background: #17406b; margin: 0 auto; }
.main-heading::after { background: #17406b; bottom: 0; content: ""; height: 2px; left: 0; margin: 0 auto; position: absolute; right: 0; width: 150px; }
.main-heading span:after { background: #fff; bottom: -3px; content: ""; height: 10px; left: 0; margin: 0 auto; position: absolute; right: 0; width: 30px; z-index: 9; }
.main-heading span:before { background: #17406b; bottom: -4px; content: ""; height: 10px; left: 0; margin: 0 auto; position: absolute; right: 0; width: 10px; z-index: 9999; }
.gray-heading .main-heading span::after { background: #f5f5f5; }
.work-head .main-heading { color: #fff; }
.community_txt_block .gray-heading .main-heading span:after { background: #2f4964; }
.services_block_info { padding: 0 55px; }
.services_block_info p { color: #fff; padding: 0 0 10px; }
.community_txt_block .gray-heading .main-heading { color: #fff; }
.community_txt_block .main-heading:after { background: #fff; }
.work-head .main-heading span:after { background: #36506b; }
.community_txt_block .main-heading span:before { background: #fff; }
.community_tab_block .nav-tabs > li.more-link a { border: none; border-radius: 100%; background: #17406b; color: #fff; padding: 0; width: 50px; line-height: 50px; line-height: 50px; text-align: center; }/*#sync1{ text-align:center;}

.why-community-services .owl-carousel .owl-wrapper-outer{ overflow:inherit;}
.why-community-services .services-one .owl-carousel .owl-item > img{ width:100%;}
.why-community-services .owl-carousel .owl-item .item{ opacity:0.5;}
.why-community-services .owl-carousel .owl-item .synced{ opacity:1;}*/
.services_block h3 { margin: 25px 0; color: #17406b; font-size: 16px; font-weight: 500; }
/*---login---*/

.inner-banner .banner-content { top: 80px; }
.inner-banner .banner-content h1 { font-size: 30px; color: #fff; margin: 0 0 10px; }
.inner-banner .breadcrumb { padding: 0; background: none; border-radius: 0; }
.inner-banner .breadcrumb > li a { color: #fff; font-size: 14px; }
.inner-banner .breadcrumb > li + li::before { color: #fff; }
.inner-mid-sec { position: relative; padding: 65px 0; overflow-x: hidden; }
.sign-in-box { padding: 45px 20px 0; position: relative; -moz-box-shadow: -2px 1px 10px 1px rgba(218,218,218,0.75); -webkit-box-shadow: -2px 1px 10px 1px rgba(218,218,218,0.75); box-shadow: -2px 1px 10px 1px rgba(218,218,218,0.75); margin: 50px 0 0; }
.user_block { width: 110px; height: 110px; border-radius: 100%; border: solid 5px #f7f7f7; margin: 0 auto; position: absolute; top: -50px; left: 0; right: 0; background: #fff; }
.user_block img { border-radius: 100%; }
.login_info_block { margin: 40px 0 0; padding: 0 25px; }
.input-block { background: #fff none repeat scroll 0 0; color: #686868; display: block; font-size: 14px; height: 60px; position: relative; width: 100%; border: solid 2px #e5e5e5; margin: 0 0 20px; }
.input-icon { color: rgba(104, 104, 104,0.5); display: block; font-size: 15px; height: 100%; right: 0; line-height: 60px; position: absolute; text-align: center; top: 0; width: 50px; }
.input-fill2 { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: medium none; height: 100%; padding: 0 15px; width: 100%; }
.login_wrp { padding: 30px 0 20px; }
.rh_btn.login_btn { background: #17406b; color: #fff; min-width: 180px; border: none; display: inline-block; }
.user-heding { text-align: center; font-size: 24px; color: #17406b; font-weight: 500; margin: 30px 0 0; }
.login_info_block h4 { font-size: 16px; color: #686868; margin: 0 0 30px; font-weight: 500; }
.or-box { border-top: 1px solid #d6d6d6; text-align: center; }
.or-box span { background: #fff none repeat scroll 0 0; color: #686868; display: inline-block; font-size: 16px; text-transform: uppercase; font-weight: 500; margin-top: -10px; padding: 0 20px; vertical-align: top; }
.social_login_detail { text-align: center; }
.social_login_detail ul.social li { width: 40%; margin-right: 45px; margin-top: 25px; margin-bottom: 10px; }
.social_login_detail ul.social li:last-child { margin-right: 0; }
.social_login_detail ul.social li a { padding: 11px 1px 11px 30px; text-align: left; font-size: 20px; }
.social_login_detail ul.social li a span { height: 60px; line-height: 60px; text-align: center; }
.social_login_detail ul.social li a p { font-size: 13px; margin: 0; font-family: 'museo_sans300'; color: #fff; }
.inner-heading { color: #3661ce; padding: 0px; font-size: 24px; margin: 0 0 10px; }
.sign-in-box .inner-heading { position: relative; display: inline-block; margin: 0px 0 50px; padding: 0 0 10px; }
.sign-in-box .inner-heading:after { position: absolute; bottom: 0; left: 0; width: 75px; height: 2px; background: #3863d0; content: ""; }
.hello-txt { color: #212124; font-weight: 700; text-transform: uppercase; margin: 0 0 50px; font-size: 18px; }
.name-filed { font-size: 14px; color: #212124; display: block; margin: 0 0 10px; min-height: 20px; }
.sign-filed { width: 100%; border-color: red; border-bottom: 1px solid rgba(51, 51, 51, 0.2); border-top: none; border-left: none; border-right: none; padding: 0 0 10px; font-size: 13px; color: #8b8a8a; }
.sign-in-box .name-filed { padding: 0 0 10px; }
.submit { font-size: 18px; text-transform: uppercase; min-width: 195px; font-weight: 700; padding: 0px 10px; height: 50px; border: none; border-radius: 30px; box-shadow: 1px 6px 5px rgba(0, 0, 0, 0.2); }
.submit i { padding-left: 10px; }
.forgot-txt { width: 60%; display: inline-block; vertical-align: middle; font-size: 14px; padding: 0; font-weight: 700; text-align: left; }
.submit_block { width: 39%; text-align: right; display: inline-block; vertical-align: middle; }
.forgot-txt a { font-size: 14px; font-weight: 500; border-right: solid 1px #686868; padding: 0 20px; }
.forgot-pas { color: #ff3838; }
.forget-mail { color: #686868; }
.forgot-txt a:last-child { border: none; }
.account-txt { font-size: 16px; color: #1b1919; font-weight: 300; font-family: 'museo_sans300'; text-align: center; padding: 17px 0; }
.account-txt a { color: #17406b; font-weight: 500; font-family: 'museo_sans500'; }
.social-block { margin: 30px 0; }
.sign-in-box .form-group { margin: 0 0 50px; }
.s-btn { width: 48%; float: left; border: none; border: none; color: #ffffff; text-align: center; font-weight: 700; padding: 11px 0; border-radius: 2px; }
.face-btn { margin-right: 10px; background: #3c66c4; }
.google-plus { margin-left: 10px; background: #cf4332; }
.s-btn i { padding-right: 8px; }
.sign-in-box .form-group.Submit-inq { margin: 0; }
.s-btn:hover:hover { opacity: 0.9; }
.inner-top-heade { text-align: left; padding: 30px 0 0; margin: 0 0 50px; }
.inner-top-heade p { color: rgba(125,125,125,0.7); }
.strike { color: #e73535; font-weight: normal; }
.input-filed { height: 40px; color: #7d7d7d; font-size: 13px; border: solid 1px #eeeeee; border-radius: 3px; box-shadow: none; padding: 0 10px; }
.form-group { margin: 0 0 30px; }
.address { resize: none; min-height: 100px; padding: 15px 10px; }
.btn-bg:hover { background: #ffc600; color: #0227a9; }
.inner-banner { position: relative; }
.inner-banner img { width: 100%; }
.inner-banner:after { background: rgba(23, 64, 107, 0.75) none repeat scroll 0 0; content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 2; }
.inner-content { position: absolute; top: 0; z-index: 9; width: 100%; top: 50%; margin-top: -20px; }
.inner-content h1 { color: #fff; font-size: 30px; font-weight: 500; text-transform: uppercase; margin: 0; }
ul.social-icons li a:hover { color: #fff; }
/*---login---*/

/*---packages-sec---*/
.packages-sec { background: #f5f5f5; }
ul.packages-info { margin: 0; text-align: right; }
ul.packages-info li { display: inline-block; vertical-align: middle; font-size: 16px; font-weight: 700; }
ul.packages-info li a { display: block; padding: 15px 20px; border-right: solid 1px #d7d7d7; color: #263349; }
ul.packages-info li span { display: inline-block; vertical-align: middle; padding-right: 10px; }
/*---End-packages-sec---*/


/*---generic-layout---*/
.form_block h3 { position: relative; color: #777777; font-size: 15px; padding-left: 10px; padding-bottom: 20px; margin: 0 0 20px; }
.form_block h3:after { position: absolute; bottom: 0; width: 100%; left: 0; height: 2px; background: #e8e8e8; content: ""; }
.form_block { margin: 0 auto; box-shadow: 1px 0 5px rgba(12,6,14,0.1); padding: 25px 40px; }
.input-heading { font-size: 14px; color: #777777; font-weight: 400; width: 14%; display: inline-block; vertical-align: middle; margin: 0; text-align: right; }
.input-box { width: 84%; display: inline-block; vertical-align: middle; padding-left: 15px; }
.input-fill { width: 100%; background: #fff; border: solid 1px #e0e0e0; border-radius: 3px; height: 37px; padding: 0 15px; }
.form_block .form-group { margin-bottom: 20px; }
.msg { resize: none; min-height: 55px; padding: 15px 10px; }
.left_block { float: left; width: 53%; }
.right_block { float: right; padding-left: 5px; width: 47%; }
.check-box input[type=checkbox].css-checkbox { position: absolute; z-index: -1000; left: -1000px; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0; }
.check-box input.css-checkbox[type="checkbox"] + label { padding-left: 45px; height: 24px; display: inline-block; line-height: 24px; background-repeat: no-repeat; background-position: 0 0; font-size: 13px; vertical-align: middle; cursor: pointer; color: #777777; font-weight: 400; }
.check-box input.css-checkbox[type="checkbox"]:checked + label { background-image: url(../images/unchecked.png); }
.check-box label { background-image: url(../images/checked.png); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.Select_package .check-box input.css-checkbox[type="checkbox"]:checked + label { background-image: url(../images/unchecked-2.png); }
.Select_package .check-box label { background-image: url(../images/checked-1.png); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.Select_package .check-box input.css-checkbox[type="checkbox"] + label { padding-left: 30px; }
.Select_package .check-box input.css-checkbox[type="checkbox"] + label { font-size: 18px; color: #17406b; text-transform: uppercase; }
.Select_package { margin: 0 15px; padding: 25px 0 0; border-top: solid 1px #b9c5d2; }
.check_two .check-box input[type=checkbox].css-checkbox { position: absolute; z-index: -1000; left: -1000px; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0; }
.check_two .check-box input.css-checkbox[type="checkbox"] + label { padding-left: 55px; height: 29px; display: inline-block; line-height: 29px; background-repeat: no-repeat; background-position: 0 0; font-size: 13px; vertical-align: middle; cursor: pointer; color: #666666; font-weight: 700; font-family: 'Open Sans', sans-serif; }
.check_two .check-box input.css-checkbox[type="checkbox"]:checked + label { background-image: url(../images/unchecked1.png); }
.check_two .check-box label { background-image: url(../images/checked1.png); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.check_two .left_block { float: left; width: 20%; }
.check_two .right_block { padding-left: 10px; width: 80%; }
.left_block label { color: #777777; font-size: 13px; font-weight: 400; margin: 0; }
.radio-block { margin: 20px 0 0; }
.radio-block input[type=radio].css-checkbox { display: none; }
.radio-block input[type=radio].css-checkbox + label { padding-left: 45px; height: 19px; display: inline-block; line-height: 21px; background-repeat: no-repeat; background-position: 0 -19px; font-size: 13px; color: #777777; vertical-align: middle; cursor: pointer; font-weight: 400; margin: 0; }
.radio-block input[type=radio].css-checkbox:checked + label { background-position: 0 0px; }
.radio-block label { background-image: url(../images/radio-icon.png); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.sub-btn { background: #17406b; color: #fff; font-size: 13px; height: 39px; width: 90px; text-align: center; border: none; border-radius: 3px; margin-right: 15px; }
.cancel-btn { background: #636363; }
.btn-wrp { padding-left: 135px; padding-top: 53px; }
/*---End-generic-layout---*/


/*---packages---*/

/*---Endpackages---*/


/*---dashboard---*/
.inner-top-heading { font-size: 24px; color: #263349; margin: 0 0 20px; }
.services_info_block { background: #f9f9f9; padding: 30px 15px; box-shadow: 0 8px 6px -4px rgba(221, 221, 211, 0.75); margin: 60px 0 0px; -webkit-box-shadow: 0 8px 6px -4px rgba(221, 221, 211, 0.75); -moz-box-shadow: 0 8px 6px -4px rgba(221, 221, 211, 0.75); box-shadow: 0 8px 6px -4px rgba(221, 221, 211, 0.75); }
.ser-lf { padding-left: 0; }
.services-lf { width: 12%; float: left; }
.services-rh { float: left; padding-left: 20px; width: 71%; }
.services-rh h3 { font-size: 20px; color: #17406b; font-weight: 500; margin: 0 0 10px; text-transform: none; }
.services-rh h4 { font-size: 16px; color: #263349; text-transform: none; margin: 0 0 10px; }
.services-rh p { color: #454545; margin: 0; line-height: 18px; font-family: 'museo_sans300'; }
.ser-rh { padding-right: 0; text-align: right; float: right; }
.user-img { border: solid 1px #dddddd; }
ul.time-info { margin: 0 0 20px; }
ul.time-info li { color: #333333; display: inline-block; font-size: 16px; font-weight: 100; border-right: solid 1px #263349; line-height: 16px; padding: 0 10px; font-family: 'museo_sans100'; }
ul.time-info li:last-child { border: none; padding: 0 0px 0 10px; }
ul.time-info li:first-child { padding: 0 10px 0 0; }
.modify { min-width: 100px; background: #50c53d; color: #fff; border: solid 1px #dddddd; padding: 10px; text-transform: none; margin-top: 35px; font-size: 16px; }
.dash-btn { font-size: 16px; color: #fefefe; height: 40px; padding: 0 18px; font-weight: 400; border: solid 1px #dddddd; margin-right: 15px; }
.dash-btn:last-child { margin-right: 0; }
.blue { background: #17406b; }
.red { background: #ff4743; }
.purple { background: #50c53d; }
.dash-btn:hover { opacity: 0.8; }
.ser-btn { min-width: 150px; background: #ffc600; color: #333333; display: inline-block; font-size: 15px; padding: 16px 0; text-align: center; }
.load-more { color: #fff; background: #17406b; }
.ser-btn i { padding-right: 10px; }
.load-more i { padding-left: 1px; padding-right: 0; }
.more-info { margin: 40px 0 0; }
.load-more:hover { color: #fff; }
/*---dashboard---*/

.affordable_community { background: #f5f5f5; padding: 60px 0; }
.mid_txt h2 { font-size: 23px; color: #686868; font-weight: 500; line-height: 30px; }
.mid_txt h2 span { display: block; color: #17406b; font-family: 'museo_sans100'; font-weight: 100; }
.mid-up { display: table; height: 100%; vertical-align: middle; width: 100%; }
.video_block { background: url(../images/video_img.png) no-repeat top; background-size: cover; height: 480px; background-size: auto 100%; position: relative; }
..banner_content_block {
height:100%;
}
.banner_content_block_lf { float: none; display: inline-block; vertical-align: top; height: 100%; }
.banner_content_block_rh { display: inline-block; vertical-align: top; float: none; width: 41.267%; height: 100%; padding-left: 50px; }
.banner_content_block_rh h1 { font-size: 44px; line-height: 61px; color: #fff; text-transform: uppercase; text-align: left; margin: 10px 0 0; }
.banner_content_block_rh p { font-size: 22px; line-height: 30px; text-transform: uppercase; color: #fff; font-family: 'museo_sans100'; margin: 30px 0; }
/*---packages---*/
.premium_block { background: #fff; min-height: 665px; }
.Bronze_offers { background: #f0f4ff; height: 80px; text-align: center; color: #fff; }
.Bronze_offers_top-head { background: #81c241; text-align: center; font-size: 24px; color: #fff; padding: 27px 0; letter-spacing: 1px; border-top-left-radius: 25px; border-top-right-radius: 25px; }
ul.deatil_info { margin: 0; padding: 0; }
ul.deatil_info li { font-size: 14px; color: #333333; padding: 22px 20px; }
.bro_mid-sec { position: relative; border: solid 1px #f0f4ff; }
.buy_now { font-size: 18px; color: #fff; font-weight: 800; text-align: center; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
.buy_now a { padding: 25px 10px; display: block; color: #222222; font-size: 20px; background: #ffc600; text-transform: uppercase; border-bottom-left-radius: 25px; border-bottom-right-radius: 25px; }
.banner-up { display: table; height: 100%; vertical-align: middle; width: 100%; }
.banner-in { display: table-cell; vertical-align: middle; }
.banner-in > p { color: #333333; font-size: 40px; margin: 0; font-weight: 700; }
.banner-in > p sup { font-size: 20px; top: -18px; }
ul.deatil_info li:nth-child(odd) { background: #fff; }
ul.deatil_info li:nth-child(even) { background: #f0f4ff; }
.plan-two .Bronze_offers_top-head { background: #41bac2; }
.plan-three .Bronze_offers_top-head { background: #3863d0; }
.plan-four .Bronze_offers_top-head { background: #6341c2; }
/*---Endpackages---*/


/*---user-profile---*/

.grey_block { background: #eeeeee; padding: 40px 20px; clear: both; box-shadow: -1px 4px 2px rgba(221, 221, 211, 0.9); }
.user_img_block { float: left; position: relative; width: 32%; }
.user_img { position: absolute; top: 0px; left: 0; right: 0; width: 230px; height: 230px; text-align: center; box-shadow: 2px 9px 7px rgba(213, 213, 213, 0.8); border-radius: 50%; }
.user_img img { border-radius: 50%; }
.user_deatil_info { padding-left: 280px; }
.join-date { background: #17406b; border-radius: 50%; bottom: -62px; color: #ffffff; font-size: 11px; height: 80px; left: 11px; margin: 0 auto; position: absolute; right: 0; text-align: center; width: 80px; }
.user_deatil_info h2 { font-size: 24px; color: #000; text-transform: none; margin: 0 0 20px; }
.user-profile-page .mid-up { display: table; height: 100%; vertical-align: middle; width: 100%; background: none; border: none; }
.user-profile-page .mid-in { display: table-cell; vertical-align: middle; }
ul.user-info { margin: 0 0 20px; }
ul.user-info li { display: inline-block; color: rgba(0,0,0,0.8); padding-right: 20px; }
ul.user-info li i { padding-right: 10px; }
.profile-information h2 { color: #000000; font-size: 18px; text-transform: none; }
.profile-information::before { background: #17406b none repeat scroll 0 0; bottom: -2px; content: ""; height: 3px; left: 0; position: absolute; width: 50px; }
.profile-information { border-bottom: 1px solid #e3e3e3; margin: 15px 0 35px; position: relative; }
.txt-box { color: #000000; font-size: 14px; font-weight: 700; margin: 0 0 25px; }
.txt-box label { float: left; margin: 0; width: 40%; }
.txt-box p { color: #6f6f6f; float: right; margin: 0; padding-left: 45px; width: 60%; }
.information-heading { color: #9a9a9a; font-size: 14px; font-weight: 700; margin: 0 0 25px; }
.information-deatil-lf { width: 50%; float: left; }
.information-deatil-rh { width: 50%; float: right; padding-left: 80px; }
.edit { color: #ffffff; background: #17406b; display: inline-block; border-radius: 3px; font-size: 12px; min-width: 80px; padding: 9px 0; text-align: center; margin: 0 0 5px; }
.edit i { padding-right: 10px; }
.edit:hover { background: #ffc600; color: #fff; }
.txt-box::after { clear: both; content: ""; display: block; }
.blue-txt { color: #17406b; }
/*---End-user-profile---*/


.about_section { padding: 60px 0 110px; }
.video_block a { di
}
.about_section .main-heading { margin: 0 0 60px; }
.video-icon { content: ""; left: 0; margin-top: -20px; position: absolute; right: 0; text-align: center; top: 50%; z-index: 2; }
.about_info_rh { padding: 0; }
.about_info_lf { padding-left: 0; }
.about_info_lf p { font-size: 14px; line-height: 20px; color: #686868; margin: 0 0 30px; }
.about_img_block2 { border: solid 3px #fff; border-radius: 3px; }
.about_img_block2 { bottom: -60px; left: 0; position: absolute; }
.video-inner-img { border: 3px solid #ffffff; display: inline-block; margin: 23px 0; position: relative; }
.socila_links { position: absolute; top: 65px; left: 28px; }
.socila_links ul { padding: 0; margin: 0; }
.socila_links ul li { margin: 0 0 5px; }
.socila_links ul li:last-child { margin: 0; }
.socila_links ul li a i { width: 40px; height: 40px; line-height: 40px; text-align: center; font-size: 12px; color: #fff; font-size: 14px; }
.socila_links ul li a i.fa-facebook { background: #2a457f; }
.socila_links ul li a i.fa-twitter { background: #00aced; }
.socila_links ul li a i.fa-google { background: #d9432b; }
.socila_links ul li a i:hover { opacity: 0.9; }
.rh_btn { }
.more_sec { float: left; margin-right: 4%; margin-bottom: 35px; width: 48%; }
.more_sec:last-child { margin-right: 0; }
.rh_btn { background: #fff; border: 1px solid #fff; border-radius: 30px; color: #17406b; font-size: 16px; padding: 15px 10px; display: block; text-align: center; }
.rh_btn:hover,
.rh_btn:focus { background: #17406b; color: #fff; }
.search_block .rh_btn { width: 100%; padding: 15px 15px; position: relative; text-align: left; color: #939393; font-family: 'museo_sans300'; }
.search_block .rh_btn:hover,
.search_block .rh_btn:focus { background: #fff; border: 1px solid #fff; }
.marker_block { position: absolute; top: 15px; right: 20px; color: #686868; }
.search_block { width: 72%; margin-right: 4%; float: left; position: relative; }
.search_btn-wrp { width: 24%; float: right; }
.search_btn-wrp .rh_btn { display: block; width: 100%; background: #17406b; border: solid 1px #fff; color: #fff; }
.moving-btn { margin: 30px 0 50px; }
.moving-btn .more-btn { border: solid 2px #17406b; font-size: 16px; }
.Recurring_block { -moz-box-shadow: -2px 1px 10px 1px rgba(218,218,218,0.75); -webkit-box-shadow: -2px 1px 10px 1px rgba(218,218,218,0.75); box-shadow: -2px 1px 10px 1px rgba(218,218,218,0.75); }
.community_tab_block::after,
.Recurring_block:after { clear: both; content: ""; display: block; }
.Recurring_block_top { background: #17406b; }
.Recurring_block_top h2 { font-size: 24px; color: #fefefe; padding: 20px 30px; color: #fff; margin: 0; font-weight: 500; text-transform: none; }
.Recurring_block_left { width: 50%; float: left; position: relative; border-right: solid 1px rgba(0,0,0,0.2); }
.Recurring_block_left:last-child { border: none; }
ul.rules_info li::after { color: #17406b; content: "\f105"; font-family: "FontAwesome"; font-size: 20px; left: 0; position: absolute; top: 0; }
ul.rules_info { margin: 0; padding: 25px 20px; }
ul.rules_info li { color: #686868; font-size: 16px; padding: 0 0 0 20px; position: relative; font-family: 'museo_sans300'; margin: 0 0 25px; }
.what-to-do ul.rules_info li:after { color: #454545; }
.bdr-heading { border-bottom: solid 1px #e3e3e3; padding: 0 0 20px; font-size: 25px; color: #17406b; font-weight: 500; position: relative; margin: 0 0 30px; }
.bdr-heading:after { position: absolute; bottom: 0; left: 0; content: ""; width: 50px; height: 3px; background: #17406b; }
.package_box { }
.package_deatil { border: solid 2px #17406b; padding: 0 0 25px; }
.package_deatil h3 { font-size: 20px; font-weight: 500; color: #fff; text-transform: none; background: #17406b; padding: 25px 15px; }
.package_deatil h3 span { float: right; }
.block-space { margin: 60px 0 0; }
.additional-fill { width: 100%; border: solid 1px #cecece; min-height: 160px; resize: none; }
.continued { float: right; margin: 40px 0 0; background: #ffffff; }
ul.preferred-info { margin: 0; position: relative; }
ul.preferred-info:after { position: absolute; left: 0; width: 4px; background: #17406b; top: 0; height: 100%; content: ""; }
ul.preferred-info li { padding: 15px 40px; }
ul.preferred-info li:nth-child(odd) { background: #f5f5f5; }
ul.preferred-info li .check-box input.css-checkbox[type="checkbox"]:checked + label { background-image: url(../images/unchecked3.png); }
ul.preferred-info li .check-box label { background-image: url(../images/checked-3.png); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
ul.preferred-info li .check-box input.css-checkbox[type="checkbox"] + label { padding-left: 30px; }
ul.preferred-info li .check-box input.css-checkbox[type="checkbox"] + label { font-size: 18px; color: #17406b; text-transform: uppercase; }
.package-tab-sec .nav-tabs { text-align: left; border: none; margin: 0 0 40px; position: relative; }
.package-tab-sec .nav-tabs > li { display: inline-block; float: none; margin-bottom: -1px; min-width: 270px; margin-right: 50px; position: relative; }
.package-tab-sec .nav-tabs > li:after { content: "\f111"; font-family: "FontAwesome"; font-size: 23px; left: 20px; position: absolute; top: 27px; color: #17406b; border-radius: 100%; text-align: center; }
.package-tab-sec .nav-tabs > li.active:after { content: "\f058"; font-family: "FontAwesome"; font-size: 23px; left: 20px; position: absolute; top: 27px; color: #fff; border-radius: 100%; text-align: center; }
.package-tab-sec .nav-tabs > li { background: none; font-size: 16px; color: #17406b; text-transform: uppercase; }
.package-tab-sec .nav-tabs > li > a { color: #333333; background: #fff; border: solid 2px #17406b; border-radius: 60px; margin: 0; padding: 24px 20px 24px 53px; }
.package-tab-sec .nav-tabs > li.active > a { background: #17406b; color: #fff; border: solid 2px #17406b; }
.package-tab-sec { padding: 40px 0 0; }
.close { opacity: 1; position: absolute; right: -3px; top: -4px; }
button.close { width: 35px; height: 35px; text-align: center; background: #17406b; border: solid 2px #fff; border-radius: 100%; color: #fff; text-shadow: none; font-size: 15px; }
.modal-header { border-bottom: none; min-height: inherit; padding: 0; }
.modal-dialog { margin: 0 auto; top: 50%; transform: translateY(-50%) !important; width: 920px; }
.modal-content { border: none; border-radius: 0; background: #f7f7f7; }
.popup-block1 { padding: 90px 100px; }
.btm_block .rh_btn { border: solid 2px #e8e8e8; }
.btm_block .search_block .rh_btn:hover,
.btm_block .search_block .rh_btn:focus { background: none; border: 2px solid #e8e8e8; }
.btm_block { padding: 50px 100px; background: #fff; }
.btm_block label { font-size: 15px; color: #686868; font-weight: 500; margin: 0 0 10px; }
.national-guarantee-lf { width: 35%; float: left; }
.logo-section { width: 225px; height: 225px; line-height: 225px; text-align: center; border: solid 3px #ededed; border-radius: 100%; }
.popup-heading { font-weight: 500; font-size: 24px; color: #17406b; margin: 0 0 25px; line-height: 33px; }
.popup-heading span { display: block; }
.national-guarantee-rh { width: 65%; float: right; }
.national-guarantee-rh ul.rules_info li:after { content: "\f00c"; color: #64ae33; }
.national-guarantee-rh ul.rules_info { margin: 0; padding: 0; }
.national-guarantee-rh ul.rules_info li { color: #686868; font-family: 'museo_sans500'; font-weight: 500; font-size: 18px; margin: 0px; line-height: 45px; padding: 0 0 0 30px; position: relative; }
.close:hover,
.close:focus { opacity: 1; background: #153a60; }
ul.Weekly-info { margin: 0 0 30px; }
ul.Weekly-info li { float: left; margin-right: 30px; }
ul.Weekly-info li a { background: #dddddd; font-size: 16px; color: #333333; text-align: center; padding: 11px 36px; display: block; border-radius: 3px; }
ul.Weekly-info li a:hover,
ul.Weekly-info li.active a { background: #f2cd4b; }
ul.Weekly-info li:last-child { margin-right: 0; }
.Weekly-info:after { content: ""; display: block; clear: both; }
video { display: block; object-fit: cover; width: 100%; }
 input::-webkit-input-placeholder {
color: #17406b;
opacity:1;
}
 input:-moz-placeholder { /* Firefox 18- */
color:#17406b;
opacity:1;
}
 input::-moz-placeholder {  /* Firefox 19+ */
color:#17406b;
opacity:1;
}
 input:-ms-input-placeholder {
color:#17406b;
opacity:1;
}


/*--faq-page-css--*/

.faq-heading { color: #303030; font-weight: 600; font-size: 14px; margin: 0 0 15px; text-transform: none; }
.faq-block .panel-default > .panel-heading { padding: 0; background-color: #fbfbfb; }
.faq-block .panel-title a { display: block; padding: 13px 15px; font-size: 14px; font-weight:400; text-transform: none; border: solid 1px #e0e0e0; color: #333745; }
.faq-block .panel-title a { background: #17416b url(../images/minus.png) no-repeat 98% center; color: #fff; }
.faq-block .panel-title a.collapsed { background: #eeeeee url(../images/plus.png) no-repeat 98% center; color: #333745; }
.faq-block .panel-body { padding: 20px 0px; }
.faq-block .panel-body p { margin: 0 0 15px; font-size: 13px; line-height: 24px; color: #666666; }
.faq-block .panel-body p:last-child { margin: 0; }
.faq-block .panel-group .panel { border: none; box-shadow: none; }

/*--faq-page-css--*/

/*--terms--*/

.terms-block{ background:#f3f3f3; padding:25px 20px;}
.terms-block h3{ font-size:16px; color:#ffffff; font-weight:500; padding:5px 15px; background:#17416b; display:inline-block; margin:20px 0 15px;}
.terms-block p{ color:rgba(0,0,0,0.7); font-size:16px; line-height:24px;}

/*--End-terms--*/

/*--site-map--*/
ul.sitemap-info{ margin:0; }
ul.sitemap-info li{ font-size:18px; color:#17406b; text-decoration:underline; line-height:36px;  list-style-type: disc;}
ul.sitemap-info li a{color:#17406b;}
ul.sitemap-info li.sub-info ul{ margin-left:15px;}
ul.sub-info{ margin-left:35px;}
ul.sub-info li{ text-decoration:none;}


/*--End-site-map--*/


ul.categories-links {
  margin: 0;
  padding:0px;
}

ul.categories-links li {
  border-bottom:solid 1px #ccc;
  display: block;
  font-size: 12px;
  font-weight:400;
  line-height: 40px;
  position: relative;
  padding:0 0 0 10px;
}
ul.categories-links li a{ color: #666666;}

ul.categories-links li a::after {
  color: #666666;
  content: "\f0da";
  font-family: "FontAwesome";
  font-size: 13px;
  font-weight: normal;
  position: absolute;
  right: 10px;
  top: 0;
}

ul.categories-links li:last-child {
  border: medium none;
}

.categories-block h2{ font-size:22px; color:#17416b; font-weight:500; margin:0 0 10px; }
.categories-block{ margin:0 0 40px;}

.blog-img{ float:left;}
.blog-detail{ padding:0 0 0 65px;}

ul.blog{ margin:0;}
ul.blog li{border-bottom:solid 1px #ccc; padding:0 0 15px 10px; margin:0 0 15px;}
.blog:after{ content:""; display:block; clear:both;}
.blog-detail p{ font-size:12px; margin:0; line-height:18px; margin:0 0 5px;}
.blog-detail span{ font-size:12px; color:#666666; font-weight:300;}
.blog_dec_lf{ padding-left:0;}
.blog_dec_rh{ padding-right:0;}


ul.comment-txt { margin:0 0 20px;}
ul.comment-txt li {
  color: #666666;
  display: inline-block;
  font-weight: 300;
  padding-right: 15px;
  font-size:12px;
}

ul.comment-txt li a {
  color: #5b5b5b;
}

ul.comment-txt li i {
  color: #ea2e49;
  padding-right: 10px;
}

.blog_dec_rh h3{ font-size:22px;  font-weight:500; text-transform:none; margin: 0 0 15px;}
.blog_dec_rh h3 a{ color:#333745;}
.blog_dec_rh p{ font-size:13px; color:#666666; line-height:20px; margin:0 0 15px;}
.blog_dec_rh .more-link{ color:#17416b; font-size:16px; font-weight:500;}

.blog_dec_block{ margin:0 0 20px; padding:0px 0 20px; border-bottom:solid 1px #ccc;}
.blog-txt-block{ background:#f7f7f7; padding:25px 25px 30px 60px; position:relative;}
.blog-txt-block:after{ width:4px; height:100%; left:0; top:0; background:#17406b; content:""; position:absolute;}

.blog-txt-block{ margin:30px 0;}
.blog-txt-block p{ color:#333333; font-size:13px; font-weight:500; position:relative;}
.blog-txt-block p:after{ position:absolute; left:-35px; top:0; background:url(../images/arrow-left.png) no-repeat; width:20px; height:14px; content:"";}
.blog-txt-block p:before{ position:absolute; right:330px; bottom:-5px; background:url(../images/arrow-left.png) no-repeat; width:20px; height:14px; content:"";}
.blog-detail-img{ margin:0 0 15px;}