<top-header></top-header>
<div class="slider-section">
  <div class="banner-img"><img src="images/slider1.jpg" alt="" />
    <div class="banner-content">
      <div class="container">
        <div class="row">
          <div class="mid-up">
            <div class="mid-in">
              <div class="banner_content_block">
                <div class="col-sm-7 banner_content_block_lf">
                  <div class="video_block">
                    <div class="video-inner-img">
                      <!--video-->
                      <div id="videocenter">
                        <video preload="auto" autoplay loop>
                          <source type="video/mp4" src="video/Bigstock_81197432.mp4" />
                          <source type="video/webm" src="video/Bigstock_81197432.webm" />
                          <source type="video/ogg" src="video/Bigstock_81197432.ogv" />
                        </video>
                      </div>
                      <!--End-video-->

                    </div>
                    <div class="socila_links">
                      <ul>
                        <li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="javascript:void(0);"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-5 banner_content_block_rh text-left">
                  <h1 class="normalText textAlignLeft">Affordable Services by Local Professionals</h1>
                  <p class="normalText textAlignLeft">We Guarantee our work, or the Service is Free.</p>

                  <div class="block_one clearfix">
                    
                    <!--<div class="more_sec">-->
                      <div class="">
                      <!--(click)="searchControl=false"-->
                      <a href="javascript:void(0);" (click)="searchControl=!searchControl" class="rh_btn" [ngClass]="{active: searchControl}" >Get Started</a>
                    </div>
                    <br>
                  </div>
                  
                  <div class="search_block clearfix" [ngClass]="{'hide': searchControl}" >
                      <div>
                          <input placeholder="Property Address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="rh_btn"
                      #search [(ngModel)]="searchValue">
                          <input type="hidden" [(ngModel)]="postal_code" id="userZipcode" name="userZipcode" />
                          <span class="marker_block"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                      </div>
                      <br/>
                      <div class="or-box clearfix"><span>or</span></div>
                      <div>
                          <input placeholder="Zip Code" type="text" class="rh_btn" [(ngModel)]="altZipCode">
                      </div>
                    
                  </div>

                  <div class="search_btn-wrp" [ngClass]="{'hide': searchControl}">

                    <button type="button" class="rh_btn" (click)="searchPackages();">Submit</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="affordable_community gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 no-padding text-center mid_txt">
        <h2>Affordable Community Based Lawn Services<span>by Trusted Professionals</span></h2>
        <a [routerLink]="['/signup']" class="join">Join Now</a>
        <ul class="social">
          <li class="facebook-block"><a href="/facebooklogin"><span><i class="fa fa-facebook"></i></span>Facebook</a></li>
          <li class="google-block"><a href="/googlelogin"><span><i class="fa fa-google" aria-hidden="true"></i></span>Google</a></li>
          <li class="email-block"><a [routerLink]="['/login']"><span><i class="fa fa-envelope" aria-hidden="true"></i></span>Email</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--community-calendar-->
<!--<community-calender></community-calender>-->
<!--community-calendar-->

<!--how-its-works-->
<div class="how-its-works">
  <div class="container">
    <div class="row how-its-works-page">
      <div class="col-md-12 no-padding work-head">
        <h2 class="main-heading"><span>How Its Works</span></h2>
      </div>
      <div class="mobile-space">
        <div class="row">
          <div class="col-sm-4 work_block">
            <div class="work_block_sec">
              <div class="icon-block">
                <div class="online"></div>
              </div>
              <h3 class="work_heading"><a href="#">SCHEDULE ONLINE</a></h3>
              <div class="work-content">
                <p>Sign-in to see pricing and schedule for services in your area. 
                  Monthly packages available for recurring services. Upfront pricing, easy scheduling and easy canceling.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 work_block">
            <div class="work_block_sec">
              <div class="icon-block">
                <div class="quality"></div>
              </div>
              <h3 class="work_heading"><a href="#">TRUSTED PROFESSIONALS</a></h3>
              <div class="work-content">
                <p>Our professionals go through stringent background and experience checks.
                   Rest assured, you will get absolute top-notch service.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 work_block">
            <div class="work_block_sec">
              <div class="icon-block">
                <div class="relax"></div>
              </div>
              <h3 class="work_heading"><a href="#">Relax</a></h3>
              <div class="work-content">
                <p>Our professionals will complete the service on time. 
                  If at anytime, you are not satisfied with our service, we insist that you tell us, and we will refund 100% of the service charge.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--how-its-works-->

<!--why-community-services-->
<!--<div class="our-services">
  <div class="container">
    <div class="row">
      <div class="col-md-12 no-padding gray-heading">
        <h2 class="main-heading"><span>Our services</span></h2>
      </div>
      <div class="ser_block clearfix">
        <div class="row">
          <div class="col-sm-4 services_block text-center">
            <div class="ser-img"><img src="images/ser-1.png" alt="" /></div>
            <h3>Plumbing</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel ligula id nisl ultrices convallis. Etiam commodo
              velit ac condimentum ullamcorper.</p>
          </div>
          <div class="col-sm-4 services_block text-center">
            <div class="ser-img"><img src="images/ser2.png" alt="" /></div>
            <h3>Plumbing</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel ligula id nisl ultrices convallis. Etiam commodo
              velit ac condimentum ullamcorper.</p>
          </div>
          <div class="col-sm-4 services_block text-center">
            <div class="ser-img"><img src="images/ser3.png" alt="" /></div>
            <h3>Plumbing</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel ligula id nisl ultrices convallis. Etiam commodo
              velit ac condimentum ullamcorper.</p>
          </div>
        </div>
        <div class="col-md-12 text-center"><a href="javascript:void(0);" class=" more-btn">Load More</a></div>
      </div>
    </div>
  </div>
</div>-->
<!--End-why-community-services-->

<!--why-community-services-->

<div class="why-community-services">
  <div class="container">
    <div class="row">
      <div class="community_txt_block">
        <div class="col-md-12 no-padding gray-heading">
          <h2 class="main-heading"><span>Why Community Services ?</span></h2>
        </div>
        <div class="col-md-12 no-padding">
          <div id="owl-demo">
            <div class="item">
              <div class="">
                <div class="services_head">
                  <ul class="services_info">
                    <li>
                      <div class="services-one" (click)="selCommIcon(1);"><img src="images/icon1.png" alt="" /></div>
                    </li>
                    <li>
                      <div class="services-one icon-two" (click)="selCommIcon(2);"><img src="images/icon2.png" alt="" /></div>
                    </li>
                    <li>
                      <div class="services-one" (click)="selCommIcon(3);"><img src="images/icon3.png" alt="" /></div>
                    </li>
                  </ul>
                </div>
                <div class="services_block_info" *ngIf="commIcon==1">
                  <p>Our online scheduling platform allows customers to easily schedule for services at their own convenience.
                     No more calling random guys on Craigslist and setting aside 4 hour appointment window. </p>
                  
                </div>
                <div class="services_block_info" *ngIf="commIcon==2">
                  <p>Our professionals provide quality work or the service is free! We perform stringent experience and background checks for every one of our professionals to ensure you get the peace of mind while using our services.</p>
                  
                </div>
                <div class="services_block_info" *ngIf="commIcon==3">
                  <p>Our professionals are from your neighborhood.
                    They don’t have to drive 20 miles to mow your lawn.
                     That’s how we keep our costs down.</p>
                  
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="why-community-services">
  <div class="container">
    <div class="row">
      <div class="community_txt_block">
        <div class="col-md-12 no-padding gray-heading">
          <h2 class="main-heading"><span>Why Community Services ?</span></h2>
        </div>
        <div class="col-md-12 no-padding">
          <div id="owl-demo">
            <div class="item">
              <div class="">
                <div class="services_head">
                  <ul class="services_info">
                    <li>
                      <div class="services-one"><img src="images/icon1.png" alt="" /></div>
                    </li>
                    <li>
                      <div class="services-one icon-two"><img src="images/icon2.png" alt="" /></div>
                    </li>
                    <li>
                      <div class="services-one"><img src="images/icon3.png" alt="" /></div>
                    </li>
                  </ul>
                </div>
                <div class="services_block_info">
                  <p>Maecenas interdum non neque vitae gravida. Aliquam dapibus diam eu nisl viverra molestie. Aliquam gravida
                    eu eros nec sollicitudin. Morbi magna diam, consectetur sed lobortis id, facilisis ac erat. Aliquam erat
                    volutpat. Nam cursus, ante eu dictum malesuada, enim ipsum bibendum est, et dictum lacus urna ac augue.
                    Nunc vitae augue tortor. </p>
                  <p>Aliquam gravida eu eros nec sollicitudin. Morbi magna diam, consectetur sed lobortis id, facilisis ac erat.
                    Aliquam erat volutpat. Nam cursus, ante eu dictum malesuada, enim ipsum bibendum est, et dictum lacus
                    urna ac augue. Nunc vitae augue tortor. Maecenas interdum non neque vitae gravida. Aliquam dapibus diam
                    eu nisl viverra molestie. </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="">
                <div class="services_head">
                  <ul class="services_info">
                    <li>
                      <div class="services-one"><img src="images/icon1.png" alt="" /></div>
                    </li>
                    <li>
                      <div class="services-one icon-two"><img src="images/icon2.png" alt="" /></div>
                    </li>
                    <li>
                      <div class="services-one"><img src="images/icon3.png" alt="" /></div>
                    </li>
                  </ul>
                </div>
                <div class="services_block_info">
                  <p>Maecenas interdum non neque vitae gravida. Aliquam dapibus diam eu nisl viverra molestie. Aliquam gravida
                    eu eros nec sollicitudin. Morbi magna diam, consectetur sed lobortis id, facilisis ac erat. Aliquam erat
                    volutpat. Nam cursus, ante eu dictum malesuada, enim ipsum bibendum est, et dictum lacus urna ac augue.
                    Nunc vitae augue tortor. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<!--End-why-community-services-->

<!--about-section-->
<about-us></about-us>
<!--about-section-->

<!--footer-section-->
<footer></footer>
<!--end-footer-section-->