<top-admin-header></top-admin-header>


<page-title [pagetitle]="pagetitle"></page-title>

<!--inner-mid-sec-->
<div class="inner-mid-sec white-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 no-padding dashboard_page">

                <div class="form_block">
                    
                    <alert [alertType]="'service-error'"></alert>
                    <form [formGroup]="editServiceForm" (ngSubmit)="submitForm()">
                        <div class="form-group" [ngClass]="{'has-error':!editServiceForm.controls['title'].valid && editServiceForm.controls['title'].touched}">
                            <label class="input-heading">Name :</label>
                            <div class="input-box">
                                <input type="text" name="title" id="title" class="input-fill" [formControl]="editServiceForm.controls['title']" />

                                <div *ngIf="editServiceForm.controls['title'].hasError('required') && editServiceForm.controls['title'].touched" class="alert alert-danger">You must include a title.</div>

                            </div>

                        </div>
                        

                        <div class="form-group btn-wrp">
                            <!--<button class="sub-btn" (click)="updateProfile();">Submit</button>-->
                            <button type="submit" [disabled]="!editServiceForm.valid" class="sub-btn">Submit</button>
                            <button type="button" class="sub-btn cancel-btn" (click)="servicePage();">Cancel</button>
                        </div>


                    </form>

                </div>




            </div>
        </div>

    </div>
</div>
<!--inner-mid-sec-->

<!--footer-section-->
<footer></footer>
<!--end-footer-section-->