<top-admin-header></top-admin-header>

<page-title [pagetitle]="pagetitle"></page-title>
<!--inner-mid-sec-->
<div class="inner-mid-sec white-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 no-padding dashboard_page">
        <button class="btn btn-primary" [routerLink]="['/admin/services/new']">Add New</button>
        <div class="services_wrapper">
          <alert [alertType]="'serviceAlert'"></alert>
          <div class="services_info_block clearfix" *ngFor='let eachService of serviceList; let i = index;'>

            <div class="col-md-8 ser-lf">
              
              <div class="col-md-10">
                <h3>{{eachService?.title}}</h3>
                <!--<p>Community: {{eachService?.communityId.title}}</p>-->
                
              </div>
              <div col-md-2>
                  <button type="button" class="btn btn-danger" (click)="deleteService(eachService._id)">Delete</button>
                  <button type="button" class="btn btn-primary" [routerLink]="['/admin/services/',eachService._id]">Edit</button>
              </div>
            </div>
            



          </div>
          <div *ngIf="!serviceList">No Service available</div>


        </div>

      </div>
    </div>

  </div>
</div>
<!--inner-mid-sec-->
<!--footer-section-->
<footer></footer>
<!--end-footer-section-->