<top-header></top-header>


<page-title [pagetitle]="pagetitle"></page-title>


<!--inner-mid-sec-->
<div class="inner-mid-sec white-bg">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-sm-offset-3" *ngIf="!zipcode">
        <div class="sign-in-box">

          <form [formGroup]="searchServicesForm" (ngSubmit)="searchService()">
            <div class="login_info_block">
              <h4>Please provide your zipcode to search services</h4>

              <div class="input-block">

                <input class="input-fill2" placeholder="zipcode" type="text" name="zipcode" id="zipcode" [formControl]="searchServicesForm.controls['zipcode']">
              </div>
              <div *ngIf="searchServicesForm.controls['zipcode'].hasError('required') && searchServicesForm.controls['zipcode'].touched"
                class="alert alert-danger">
                This feild is required.
              </div>

              <div class="text-center login_wrp">
                <button type="submit" class="rh_btn login_btn" [disabled]="!searchServicesForm.valid">Submit</button>
              </div>
            </div>



          </form>
        </div>
      </div>
      <div class="packages_page" *ngIf="zipcode">

        <div class="premium_block clearfix" *ngFor="let eachCommunity of communityList">
          <h3 class="bdr-heading">Services for "{{eachCommunity.title}}" Community</h3>
          <div class="premium_block clearfix" *ngFor="let eachService of eachCommunity.services">
            <h3 class="bdr-heading">Packages of "{{eachService.title}}" Service</h3>
            <div class="col-sm-3 premium_inq" *ngIf="eachService.dailyPackageId!=''">
              <div class="main_bcx">
                <div class="bro_top_sec">
                  <h2 class="Bronze_offers_top-head">{{eachService.dailyPackageId.title}}</h2>
                  <!--<div class="Bronze_offers">
                    <div class="banner-up">
                      <div class="banner-in">
                        <p [ngSwitch]="eachService.dailyPackageId.frequency">
                          <sup *ngSwitchCase="'daily'">daily</sup>
                          <sup *ngSwitchCase="'monthly'">Monthly</sup>
                          <sup *ngSwitchCase="'yearly'">yr</sup>
                          <sup *ngSwitchDefault></sup>

                        </p>

                      </div>
                    </div>
                  </div>-->
                </div>
                <div class="bro_mid-sec">
                  <ul class="deatil_info">
                    <li *ngFor="let feature of eachService.dailyPackageId.features">
                      {{feature}}
                    </li>
                  </ul>
                </div>
                <div class="buy_now bronze"><a [routerLink]="['/package/search']" [queryParams]="{id: eachService.dailyPackageId._id}">Get Started</a></div>
              </div>
            </div>
            <div class="col-sm-3 premium_inq" *ngIf="eachService.monthlyPackageId!=''">
              <div class="main_bcx">
                <div class="bro_top_sec">
                  <h2 class="Bronze_offers_top-head">{{eachService.monthlyPackageId.title}}</h2>
                  
                </div>
                <div class="bro_mid-sec">
                  <ul class="deatil_info">
                    <li *ngFor="let feature of eachService.monthlyPackageId.features">
                      {{feature}}
                    </li>
                  </ul>
                </div>
                <div class="buy_now bronze"><a [routerLink]="['/package/search']" [queryParams]="{id: eachService.monthlyPackageId._id}">Get Started</a></div>
              </div>
            </div>

          </div>
          

        </div>
        <div class="col-sm-12" *ngIf="communityList?.length==0">
          <p>Sorry, There is no community available in your area, we will get some community for you soon.</p>
        </div>


      </div>
    </div>
  </div>
</div>
<!--inner-mid-sec-->

<!--inner-mid-sec-->
<!--<div class="inner-mid-sec white-bg">
  <div class="container">
    <div class="row">
      <div class="packages_page">

        <div class="premium_block clearfix">
          <div class="col-sm-3 premium_inq plan-four" *ngFor="let package of packages">
            <div class="main_bcx">
              <div class="bro_top_sec">
                <h2 class="Bronze_offers_top-head">{{package.title}} </h2>
                <div class="Bronze_offers">
                  <div class="banner-up">
                    <div class="banner-in">
                      <p [ngSwitch]="package.frequency">${{package.price}}
                        <sup *ngSwitchCase="'daily'">/Day</sup>
                        <sup *ngSwitchCase="'monthly'">/Mn</sup>
                        <sup *ngSwitchCase="'yearly'">yr</sup>
                        <sup *ngSwitchDefault></sup>
                        
                        </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bro_mid-sec">
                <ul class="deatil_info">
                  <li *ngFor="let feature of package.features">
                    {{feature}}
                  </li>
                </ul>
              </div>
              <div class="buy_now bronze">
                <a class="btn btn-success" [routerLink]="['/package/purchase',package._id]">Get Started</a>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>-->

<!--inner-mid-sec-->

<!--footer-section-->
<footer></footer>
<!--end-footer-section-->