<top-admin-header></top-admin-header>


<page-title [pagetitle]="pagetitle"></page-title>

<!--inner-mid-sec-->
<div class="inner-mid-sec white-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 no-padding dashboard_page">
        <button class="btn btn-primary" [routerLink]="['/admin/community/new']">New</button>
        <div class="services_wrapper">
            <alert [alertType]="'communityAlert'"></alert>

          <div class="col-md-6" *ngFor="let community of availableCommunities">
            <div class="col-md-12">
              <h4>{{community.title}}</h4>
              <button type="button" class="btn btn-danger" (click)="deleteCommunity(community._id)">Delete</button>
              <button type="button" class="btn btn-primary" [routerLink]="['/admin/community/edit/',community._id]">Edit</button>
            </div>
            
            
            
          </div>




        </div>
        <div *ngIf="availableCommunities.length<=0" class="text-center">No Community available</div>


      </div>




    </div>
  </div>

</div>

<!--inner-mid-sec-->

<!--footer-section-->
<footer></footer>
<!--end-footer-section-->