<top-admin-header></top-admin-header>


<page-title [pagetitle]="pagetitle"></page-title>

<!--inner-mid-sec-->
<div class="inner-mid-sec white-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 no-padding dashboard_page">

                <div class="form_block">
                    
                    <alert [alertType]="'community-error'"></alert>
                    <form [formGroup]="editCommunityForm" (ngSubmit)="submitForm()">
                        <div class="form-group" [ngClass]="{'has-error':!editCommunityForm.controls['title'].valid && editCommunityForm.controls['title'].touched}">
                            <label class="input-heading">Title :</label>
                            <div class="input-box">
                                <input type="text" name="title" id="title" class="input-fill" [formControl]="editCommunityForm.controls['title']" />

                                <div *ngIf="editCommunityForm.controls['title'].hasError('required') && editCommunityForm.controls['title'].touched" class="alert alert-danger">You must include a title.</div>
                            </div>

                        </div>

                        <div class="form-group" [ngClass]="{'has-error':!editCommunityForm.controls['addressLineOne'].valid && editCommunityForm.controls['addressLineOne'].touched}">
                            <label class="input-heading">Address Line One</label>
                            <div class="input-box">
                                <input type="text" name="addressLineOne" id="addressLineOne" class="input-fill" [formControl]="editCommunityForm.controls['addressLineOne']" />

                                <div *ngIf="editCommunityForm.controls['addressLineOne'].hasError('required') && editCommunityForm.controls['addressLineOne'].touched" class="alert alert-danger">You must include a Address.</div>
                            </div>

                            
                        </div>

                        <div class="form-group">
                            <label class="input-heading">Address Line Two :</label>
                            <div class="input-box">
                                <input type="text" name="addressLineTwo" id="addressLineTwo" class="input-fill" [formControl]="editCommunityForm.controls['addressLineTwo']" />

                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="input-heading">Postcode :</label>
                            <div class="input-box">
                                <input type="text" name="postcode" id="postcode" class="input-fill" [formControl]="editCommunityForm.controls['postcode']" />
                                <div *ngIf="editCommunityForm.controls['postcode'].hasError('required') && editCommunityForm.controls['postcode'].touched" class="alert alert-danger">You must include a Postcode.</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="input-heading">Phone :</label>
                            <div class="input-box">
                                <input type="text" name="phone" id="phone" class="input-fill" [formControl]="editCommunityForm.controls['phone']" />
                                <div *ngIf="editCommunityForm.controls['phone'].hasError('required') && editCommunityForm.controls['phone'].touched" class="alert alert-danger">You must include a phone.</div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="input-heading">Community Logo :</label>
                            <div class="input-box">
                                <input type="file" name="communityLogo" id="communityLogo"  class="input-fill" [formControl]="editCommunityForm.controls['communityLogo']" (change)="fileChangeEvent($event)" />
                                <img src="{{this.editCommunityForm.value.commLogo}}"/>
                                <!--{{this.editCommunityForm.value|json}}-->
                            </div>
                        </div>

                        <div class="form-group btn-wrp">

                            <!--<button class="sub-btn" (click)="updateProfile();">Submit</button>-->
                            <button type="submit" [disabled]="!editCommunityForm.valid" class="sub-btn">Submit</button>
                            <button type="button" class="sub-btn cancel-btn" (click)="communityPage();">Cancel</button>

                        </div>


                    </form>

                </div>




            </div>
        </div>

    </div>
</div>
<!--inner-mid-sec-->

<!--footer-section-->
<footer></footer>
<!--end-footer-section-->