<top-header></top-header>


<page-title [pagetitle]="pagetitle"></page-title>



<!--inner-mid-sec-->
<div class="inner-mid-sec white-bg">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-12 faq-page">
        <div class="faq-block">
          <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group accordion-inq">
            <div class="panel panel-default">
              <div id="headingOne" role="tab" class="panel-heading">
                <h4 class="panel-title panel-one"> <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse">Lorem ipsum dolor sit amet, consectetur adipiscing elit </a> </h4>
              </div>
              <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse in" id="collapseOne">
                <div class="panel-body">
                  <p>Donec laoreet ipsum sit amet erat accumsan congue. Quisque tempor ac lorem vel molestie. In sagittis velit quis massa ullamcorper hendrerit. Donec pulvinar nulla ac ex porttitor fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec euismod dictum lorem at fermentum. Cras mollis, quam ut gravida varius, nibh sapien sagittis dui, eget vulputate sem odio eu neque. Aliquam vitae lectus commodo, lobortis tortor eu, consectetur dolor.</p>
                  
                  <p>Donec laoreet ipsum sit amet erat accumsan congue. Quisque tempor ac lorem vel molestie. In sagittis velit quis massa ullamcorper hendrerit. Donec pulvinar nulla ac ex porttitor fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec euismod dictum lorem at fermentum. Cras mollis, quam ut gravida varius, nibh sapien sagittis dui, eget vulputate sem odio eu neque. Aliquam vitae lectus commodo, lobortis tortor eu, consectetur dolor.</p>
                  
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div id="headingTwo" role="tab" class="panel-heading">
                <h4 class="panel-title"> <a aria-controls="collapseTwo" aria-expanded="false" href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="collapsed"> Maecenas iaculis ante mi, vel luctus lacus elementum viverra </a> </h4>
              </div>
              <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse collapse" id="collapseTwo">
                <div class="panel-body">
                  <p>Donec laoreet ipsum sit amet erat accumsan congue. Quisque tempor ac lorem vel molestie. In sagittis velit quis massa ullamcorper hendrerit. Donec pulvinar nulla ac ex porttitor fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec euismod dictum lorem at fermentum. Cras mollis, quam ut gravida varius, nibh sapien sagittis dui, eget vulputate sem odio eu neque. Aliquam vitae lectus commodo, lobortis tortor eu, consectetur dolor.</p>
                  
                  <p>Donec laoreet ipsum sit amet erat accumsan congue. Quisque tempor ac lorem vel molestie. In sagittis velit quis massa ullamcorper hendrerit. Donec pulvinar nulla ac ex porttitor fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec euismod dictum lorem at fermentum. Cras mollis, quam ut gravida varius, nibh sapien sagittis dui, eget vulputate sem odio eu neque. Aliquam vitae lectus commodo, lobortis tortor eu, consectetur dolor.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div id="headingThree" role="tab" class="panel-heading">
                <h4 class="panel-title"> <a aria-controls="collapseThree" aria-expanded="false" href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="collapsed"> Nam malesuada ornare ligula tincidunt facilisis </a> </h4>
              </div>
              <div aria-labelledby="headingThree" role="tabpanel" class="panel-collapse collapse" id="collapseThree">
                <div class="panel-body">
                 <p>Donec laoreet ipsum sit amet erat accumsan congue. Quisque tempor ac lorem vel molestie. In sagittis velit quis massa ullamcorper hendrerit. Donec pulvinar nulla ac ex porttitor fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec euismod dictum lorem at fermentum. Cras mollis, quam ut gravida varius, nibh sapien sagittis dui, eget vulputate sem odio eu neque. Aliquam vitae lectus commodo, lobortis tortor eu, consectetur dolor.</p>
                  
                  <p>Donec laoreet ipsum sit amet erat accumsan congue. Quisque tempor ac lorem vel molestie. In sagittis velit quis massa ullamcorper hendrerit. Donec pulvinar nulla ac ex porttitor fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec euismod dictum lorem at fermentum. Cras mollis, quam ut gravida varius, nibh sapien sagittis dui, eget vulputate sem odio eu neque. Aliquam vitae lectus commodo, lobortis tortor eu, consectetur dolor.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div id="headingFour" role="tab" class="panel-heading">
                <h4 class="panel-title"> <a aria-controls="collapseFour" aria-expanded="false" href="#collapseFour" data-parent="#accordion" data-toggle="collapse" class="collapsed"> Donec laoreet ipsum sit amet erat accumsan congue </a> </h4>
              </div>
              <div aria-labelledby="headingFour" role="tabpanel" class="panel-collapse collapse" id="collapseFour">
                <div class="panel-body">
                  <p>Donec laoreet ipsum sit amet erat accumsan congue. Quisque tempor ac lorem vel molestie. In sagittis velit quis massa ullamcorper hendrerit. Donec pulvinar nulla ac ex porttitor fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec euismod dictum lorem at fermentum. Cras mollis, quam ut gravida varius, nibh sapien sagittis dui, eget vulputate sem odio eu neque. Aliquam vitae lectus commodo, lobortis tortor eu, consectetur dolor.</p>
                  
                  <p>Donec laoreet ipsum sit amet erat accumsan congue. Quisque tempor ac lorem vel molestie. In sagittis velit quis massa ullamcorper hendrerit. Donec pulvinar nulla ac ex porttitor fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec euismod dictum lorem at fermentum. Cras mollis, quam ut gravida varius, nibh sapien sagittis dui, eget vulputate sem odio eu neque. Aliquam vitae lectus commodo, lobortis tortor eu, consectetur dolor.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div id="headingFive" role="tab" class="panel-heading">
                <h4 class="panel-title"> <a aria-controls="collapseFive" aria-expanded="false" href="#collapseFive" data-parent="#accordion" data-toggle="collapse" class="collapsed"> Praesent finibus nisi ut magna lacinia egestas </a> </h4>
              </div>
              <div aria-labelledby="headingFive" role="tabpanel" class="panel-collapse collapse" id="collapseFive">
                <div class="panel-body">
                 <p>Donec laoreet ipsum sit amet erat accumsan congue. Quisque tempor ac lorem vel molestie. In sagittis velit quis massa ullamcorper hendrerit. Donec pulvinar nulla ac ex porttitor fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec euismod dictum lorem at fermentum. Cras mollis, quam ut gravida varius, nibh sapien sagittis dui, eget vulputate sem odio eu neque. Aliquam vitae lectus commodo, lobortis tortor eu, consectetur dolor.</p>
                  
                  <p>Donec laoreet ipsum sit amet erat accumsan congue. Quisque tempor ac lorem vel molestie. In sagittis velit quis massa ullamcorper hendrerit. Donec pulvinar nulla ac ex porttitor fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec euismod dictum lorem at fermentum. Cras mollis, quam ut gravida varius, nibh sapien sagittis dui, eget vulputate sem odio eu neque. Aliquam vitae lectus commodo, lobortis tortor eu, consectetur dolor.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div id="headingSix" role="tab" class="panel-heading">
                <h4 class="panel-title"> <a aria-controls="collapseSix" aria-expanded="false" href="#collapseSix" data-parent="#accordion" data-toggle="collapse" class="collapsed"> Lorem ipsum dolor sit amet, consectetur adipiscing elit </a> </h4>
              </div>
              <div aria-labelledby="headingSix" role="tabpanel" class="panel-collapse collapse" id="collapseSix">
                <div class="panel-body">
                  <p>Donec laoreet ipsum sit amet erat accumsan congue. Quisque tempor ac lorem vel molestie. In sagittis velit quis massa ullamcorper hendrerit. Donec pulvinar nulla ac ex porttitor fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec euismod dictum lorem at fermentum. Cras mollis, quam ut gravida varius, nibh sapien sagittis dui, eget vulputate sem odio eu neque. Aliquam vitae lectus commodo, lobortis tortor eu, consectetur dolor.</p>
                  
                  <p>Donec laoreet ipsum sit amet erat accumsan congue. Quisque tempor ac lorem vel molestie. In sagittis velit quis massa ullamcorper hendrerit. Donec pulvinar nulla ac ex porttitor fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec euismod dictum lorem at fermentum. Cras mollis, quam ut gravida varius, nibh sapien sagittis dui, eget vulputate sem odio eu neque. Aliquam vitae lectus commodo, lobortis tortor eu, consectetur dolor.</p>
                </div>
              </div>
            </div>
            
            
          </div>
          
        </div>
      </div>
      
    </div>
  </div>
</div>
<!--inner-mid-sec-->

<!--footer-section-->
<footer></footer>
<!--end-footer-section-->