<top-header></top-header>

<!--(emitCommunityChange)="myCrazyCallback($event)"-->
<page-title [pagetitle]="pagetitle"></page-title>


<div class="inner-mid-sec white-bg">
  <div class="container">
    <div class="row" *ngIf="validUrl">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="sign-in-box">
          <div class="user_block"><img src="images/user-pic2.jpg" alt="" /></div>

          <h3 class="user-heding">Reset Password</h3>
          <alert [alertType]="'forgotpass'"></alert>
          <form [formGroup]="resetPassForm" (ngSubmit)="submitForm()">
            <div class="login_info_block">
              <h4>Type in new Password</h4>

              
                
              <div class="input-block"> <span class="input-icon"><i class="fa fa-lock"></i></span>
                <input class="input-fill2" placeholder="Password" type="password" [formControl]="resetPassForm.controls['userpass']">
              </div>
              <div *ngIf="resetPassForm.controls['userpass'].hasError('required') && resetPassForm.controls['userpass'].touched"
                class="alert alert-danger">
                You must include a password.
              </div>
              <div *ngIf="resetPassForm.controls['userpass'].hasError('minlength') && resetPassForm.controls['userpass'].touched"
                class="alert alert-danger">
                Your password must be at least 8 characters long.
              </div>

              <div class="input-block"> 
                <span class="input-icon">
                <i class="fa fa-lock"></i>
                </span>
                <input class="input-fill2" placeholder="Confirm Password" type="password" [formControl]="resetPassForm.controls['retypeuserpass']">
              </div>
              <!--{{resetPassForm.controls['retypeuserpass'].errors|json}}-->
              <div *ngIf="resetPassForm.controls['retypeuserpass'].hasError('required') && resetPassForm.controls['retypeuserpass'].touched"
                class="alert alert-danger">
                Please retype password
              </div>

              <div *ngIf="resetPassForm.controls['retypeuserpass'].hasError('matches') && resetPassForm.controls['retypeuserpass'].touched"
                class="alert alert-danger">
                Should match password
              </div>
              

              

              <div class="text-center login_wrp">
                <button type="submit" class="rh_btn login_btn" [disabled]="!resetPassForm.valid">Reset</button>
              </div>
            </div>
                       

            <p class="account-txt"><a [routerLink]="['/login']">Sign in here.</a></p>
          </form>
        </div>
      </div>
    </div>


    <div class="row" *ngIf="!validUrl">
      <div class="col-md-12 no-padding gray-heading">
        <!--<h2 class="main-heading"><span>Thank You</span></h2>-->
      </div>
      <div class="about_info">
        <div class="col-sm-12 about_info_lf" *ngIf="msgType=='req_not_found'">
          <p>Invalid change request!</p>
        </div>

        <div class="col-sm-12 about_info_lf" *ngIf="msgType=='notfound'">
          <p>Invalid change request!</p>
        </div>

        <div class="col-sm-12 about_info_lf" *ngIf="msgType=='unexpected'">
          <p>Some error occured please try latter!</p>
        </div>
        
        <div class="col-sm-12 about_info_lf" *ngIf="msgType=='expiredLink'">
          <p>Reset password link or already used , please request for another!</p>
        </div>

        <div class="col-sm-12 about_info_lf" *ngIf="msgType=='allgood'">
          <p>Password updated successfully, Please login with new password!</p>
        </div>

        



      </div>
    </div>


  </div>
</div>








<!--footer-section-->
<footer></footer>
<!--end-footer-section-->