<top-header></top-header>

<!--(emitCommunityChange)="myCrazyCallback($event)"-->
<page-title [pagetitle]="pagetitle"></page-title>


<div class="inner-mid-sec white-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="sign-in-box">
          <div class="user_block"><img src="images/user-pic2.jpg" alt="" /></div>

          <h3 class="user-heding">Reset Password</h3>
          <alert [alertType]="'forgotpass'"></alert>
          <form [formGroup]="resetPassForm" (ngSubmit)="submitForm()">
            <div class="login_info_block">
              <h4>Type in new Password</h4>

              

              <div class="input-block"> <span class="input-icon"><i class="fa fa-lock"></i></span>
                <input class="input-fill2" placeholder="Password" type="password" [formControl]="resetPassForm.controls['userpass']">
              </div>
              <div *ngIf="resetPassForm.controls['userpass'].hasError('required') && resetPassForm.controls['userpass'].touched"
                class="alert alert-danger">
                You must include a password.
              </div>
              <div *ngIf="resetPassForm.controls['userpass'].hasError('minlength') && resetPassForm.controls['userpass'].touched"
                class="alert alert-danger">
                Your password must be at least 8 characters long.
              </div>

              <div class="input-block"> 
                <span class="input-icon">
                <i class="fa fa-lock"></i>
                </span>
                <input class="input-fill2" placeholder="Confirm Password" type="password" [formControl]="resetPassForm.controls['retypeuserpass']">
              </div>
              <!--{{resetPassForm.controls['retypeuserpass'].errors|json}}-->
              <div *ngIf="resetPassForm.controls['retypeuserpass'].hasError('required') && resetPassForm.controls['retypeuserpass'].touched"
                class="alert alert-danger">
                You must include a retype password.
              </div>

              <div *ngIf="resetPassForm.controls['retypeuserpass'].hasError('matches') && resetPassForm.controls['retypeuserpass'].touched"
                class="alert alert-danger">
                Should match password
              </div>
              

              

              <div class="text-center login_wrp">
                <button type="submit" class="rh_btn login_btn" [disabled]="!resetPassForm.valid">Register</button>
              </div>
            </div>
                       

            <p class="account-txt"><a [routerLink]="['/login']">Sign in here.</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>








<!--footer-section-->
<footer></footer>
<!--end-footer-section-->