<topnav></topnav>
<div class="inner-banner">
    <div class="banner-img"><img src="images/inner-banner.jpg" alt="" />
        <div class="inner-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 no-padding">
                        <h1>Edit User Profile</h1>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<package-section></package-section>
<div class="inner-mid-sec white-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 no-padding">

                <div class="form_block">
                    <!--<h3></h3>-->
                    <form [formGroup]="profileUpdateForm" (ngSubmit)="submitForm()">
                        <div class="form-group" [ngClass]="{'has-error':!profileUpdateForm.controls['username'].valid && profileUpdateForm.controls['username'].touched}">
                            <label class="input-heading">Name :</label>
                            <div class="input-box">
                                <input type="text" name="username" id="username" class="input-fill" [formControl]="profileUpdateForm.controls['username']"
                                />

                                <div *ngIf="profileUpdateForm.controls['username'].hasError('required') && profileUpdateForm.controls['username'].touched"
                                    class="alert alert-danger">You must include a name.</div>
                                <div *ngIf="profileUpdateForm.controls['username'].hasError('minlength') && profileUpdateForm.controls['username'].touched"
                                    class="alert alert-danger">Your name must be at least 5 characters long.</div>
                                

                            </div>

                        </div>

                        <div class="form-group">
                            <label class="input-heading">Email :</label>
                            <div class="input-box">
                                <input type="text" name="useremail" id="useremail" class="input-fill" [formControl]="profileUpdateForm.controls['useremail']"
                                />


                                <div *ngIf="profileUpdateForm.controls['useremail'].hasError('required') && profileUpdateForm.controls['useremail'].touched"
                                    class="alert alert-danger">You must include a email.</div>
                                <div *ngIf="profileUpdateForm.controls['useremail'].hasError('validateEmail') && profileUpdateForm.controls['useremail'].touched"
                                    class="alert alert-danger">Please insert valid email address</div>
                                <div *ngIf="profileUpdateForm.controls['useremail'].hasError('emailTaken') && profileUpdateForm.controls['useremail'].touched"
                                    class="alert alert-danger">Email allready taken.</div>
                                <div *ngIf="profileUpdateForm.controls['useremail'].pending">
                                    Fetching data from the server...
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="input-heading">Phone :</label>
                            <div class="input-box">
                                <input type="text" name="userphone" id="userphone" class="input-fill" [formControl]="profileUpdateForm.controls['userphone']"
                                />
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="input-heading">Address Line 1 :</label>
                            <div class="input-box">
                                <input type="text" name="addresslineone" id="addresslineone" class="input-fill" [formControl]="profileUpdateForm.controls['addresslineone']"
                                />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="input-heading">Address Line 2 :</label>
                            <div class="input-box">
                                <input type="text" name="addresslinetwo" id="addresslinetwo" class="input-fill" [formControl]="profileUpdateForm.controls['addresslinetwo']"
                                />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="input-heading">City :</label>
                            <div class="input-box">
                                <input type="text" name="usercity" id="usercity" class="input-fill" [formControl]="profileUpdateForm.controls['usercity']"
                                />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="input-heading">Country :</label>
                            <div class="input-box">
                                <input type="text" name="usercountry" id="usercountry" class="input-fill" [formControl]="profileUpdateForm.controls['usercountry']"
                                />
                            </div>
                        </div>

                        <div class="form-group btn-wrp">

                            <!--<button class="sub-btn" (click)="updateProfile();">Submit</button>-->
                            <button type="submit" [disabled]="!profileUpdateForm.valid" class="sub-btn">Submit</button>
                            <button class="sub-btn cancel-btn" (click)="profilePage()">Cancel</button>

                        </div>


                    </form>

                </div>


            </div>
        </div>
    </div>
</div>
<!--inner-mid-sec-->
<!--fotter-section-->
<footer-section></footer-section>