<topnav></topnav>
<div class="inner-banner">
  <div class="banner-img"><img src="images/inner-banner.jpg" alt="" />
    <div class="inner-content">

      <div class="container">
        <div class="row">
          <div class="col-md-12 no-padding">
            <h1>Deals</h1>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
<package-section></package-section>
<!--inner-mid-sec-->
<div class="inner-mid-sec white-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 no-padding dashboard_page">

        <h2 class="inner-top-heading">My Deals</h2>
        <div class="services_wrapper">
          <div class="services_info_block clearfix" *ngFor='let eachDeal of myDeals; let i = index;'>

            <div class="col-md-8 ser-lf">
              <div class="services-lf">
                <div class="user-img"><img src="images/pic-1.jpg" alt="" /></div>
              </div>
              <div class="services-rh">
                <h3>{{eachDeal.serviceDetails.serviceName}}</h3>
                <h4>Order No. {{eachDeal.stripeChargeId}}</h4>
                <p>{{eachDeal.serviceDetails.description}}</p>
                <!--<p>{{eachDeal|json}}</p>-->
              </div>
            </div>
            <div class="col-md-4 ser-rh">
              <ul class="time-info">
                
                <li>{{eachDeal.created | date: 'jm'}} </li>
                <li>{{eachDeal.created | date: 'EEEE , dd-MM-y'}} </li>
                <li>Paid $ {{eachDeal.amount/100}} </li>
                
              </ul>
              
            </div>

          </div>






        </div>




      </div>
    </div>
  </div>
</div>
<!--inner-mid-sec-->
<!--fotter-section-->
<footer-section></footer-section>