<div class="about_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 no-padding gray-heading">
        <h2 class="main-heading"><span>About US</span></h2>
      </div>
      <div class="about_info">
        <div class="col-sm-6 about_info_lf">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
            of Lorem Ipsum.</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type </p>
        </div>
        <div class="col-sm-6 about_info_rh text-right">
          <div class="about_img_block"> <img src="images/about-1.jpg" alt="" />
            <div class="about_img_block2"><img src="images/about-2.jpg" alt="" /></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>