
<!--fotter-section-->
<div class="fotter-section">
  <div class="container">
    <div class="row">
      <div class="fotter-links clearfix">
        <div class="col-sm-3 fotter-block padding-lf">
          <h2 class="ft-heading">Company Information</h2>
          <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
        </div>
        <div class="col-sm-2 fotter-block">
          <h2 class="ft-heading">Categories</h2>
          <ul class="ft_links">
            <li><a [routerLink]="['/faq']">FAQ</a></li>
            <li><a [routerLink]="['/services']">Browse services</a></li>
            <li *ngIf="!loggedIn"><a [routerLink]="['/vendor/signup']">Contractor</a></li>
            <li><a href="javascript:void(0);">Terms & Conditions</a></li>
            <li><a href="javascript:void(0);">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-sm-2 fotter-block">
          <h2 class="ft-heading">Support</h2>
          <ul class="ft_links">
            <li><a href="javascript:void(0);">About Us</a></li>
            <li><a href="javascript:void(0);">Contact Us</a></li>
            <li><a href="javascript:void(0);">Blog</a></li>
            <li><a href="javascript:void(0);">Site Map</a></li>
            <li><a href="javascript:void(0);">Service booking process</a></li>
          </ul>
        </div>
        <div class="col-sm-2 fotter-block padding-rh">
          <h2 class="ft-heading">Follow Us</h2>
          <ul class="social-icons">
            <li><a href="javascript:void(0);"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <div class="col-sm-3 fotter-block padding-rh">
          <h2 class="ft-heading">Signup for a Newsletter</h2>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
          <form>
            <div class="fotter-input">
              <input value="Enter your email" onblur="if (this.value == '') {this.value = 'Enter your email';}" onfocus="if (this.value == 'Enter your email') {this.value = '';}" type="text">
              <button type="submit">Sign up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="copy-right-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 no-padding text-center">
        <p><i class="fa fa-copyright" aria-hidden="true"></i> 2016, All rights reserved, Community</p>
      </div>
    </div>
  </div>
</div>

<!--fotter-section--> 