<topnav></topnav>
<div class="inner-banner">
  <div class="banner-img"><img src="images/inner-banner.jpg" alt="" />
    <div class="inner-content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
            <h1>Sign Up</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="inner-mid-sec white-bg">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="sign-in-box">
                  <h3 class="inner-heading">Welcome! Create your account!</h3>
                    <form method="post" (submit)="registerUser($event);">
                        <div class="form-group">
                          <label class="name-filed">Name</label>
                            <input placeholder="Enter your Name" [(ngModel)]="username" name="username" id="username"  class="sign-filed" type="text">
                        </div>
                        <div class="form-group">
                          <label class="name-filed">Email</label>
                            <input placeholder="Enter your Email" [(ngModel)]="useremail" name="useremail" id="useremail" class="sign-filed" type="text">
                        </div>
                        <div class="form-group">
                          <label class="name-filed">Password</label>
                            <input placeholder="Enter your password" [(ngModel)]="userpass"  name="userpass" id="userpass"  class="sign-filed" type="password">
                        </div>
                        <div class="form-group Submit-inq">
                        
                        <div class="submit_block">
                            <button class="btn-bg submit" (click)="registerUser($event);">Submit <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                        </div>    
                            
                            
                        </div>
                        
                        
                        
                        
                        
                    </form>

                </div>
              
            </div>
        </div>
    </div>
</div>
<!--fotter-section-->
<footer-section></footer-section>