<topnav-admin></topnav-admin>

<div class="inner-mid-sec white-bg">
  <div class="container">
    <div class="row">

      
      <div class="col-md-12">
        <h3 class="inner-heading">Admin Login!</h3>
        <alert [alertType]="'login'"></alert>
        <form method="post">
          <div class="form-group">
            <label class="name-filed">Username</label>
            <input placeholder="Enter your Email" [(ngModel)]="loginuseremail" name="loginuseremail" id="loginuseremail" class="sign-filed"
              type="text">
          </div>
          <div class="form-group">
            <label class="name-filed">Password</label>
            <input placeholder="Enter your password" [(ngModel)]="loginuserpass" name="loginuserpass" id="loginuserpass" class="sign-filed"
              type="password">
          </div>
          <div class="form-group text-center">
            <button class="btn btn-primary" (click)="loginUser($event);">Login</button>
          </div>

          <div class="row form-group">
            <div class="col-md-5">
              <a href="">Forgot Password?</a>
            </div>
            <div class="col-md-2">
              <span>|</span>
            </div>
            <div class="col-md-5">
              <a href="">Forgot Email?</a>
            </div>

          </div>




        </form>



      </div>
    </div>
  </div>
</div>
<!--fotter-section-->
<footer-section></footer-section>