<topnav-one></topnav-one>

<div class="inner-mid-sec white-bg">
  <div class="container">
    <div class="row">

      <div class="col-md-6 signup-box">
        <alert [alertType]="'signup'"></alert>
        <h3 class="inner-heading">New User!</h3>
        <form [formGroup]="profileSignupForm" (ngSubmit)="registerUser()">
          <div class="form-group">
            <label class="name-filed">Name</label>
            <input placeholder="Enter your Name" type="text" name="username" id="username" class="sign-filed" [formControl]="profileSignupForm.controls['username']"
            />

            <div *ngIf="profileSignupForm.controls['username'].hasError('required') && profileSignupForm.controls['username'].touched"
              class="alert alert-danger">You must include a name.</div>
            <div *ngIf="profileSignupForm.controls['username'].hasError('minlength') && profileSignupForm.controls['username'].touched"
              class="alert alert-danger">Your name must be at least 5 characters long.</div>
          </div>
          <div class="form-group">
            <label class="name-filed">Email</label>
            <!--<input  [(ngModel)]="useremail" name="useremail" id="useremail" class="sign-filed" type="text">-->
            <input placeholder="Enter your Email" type="text" name="useremail" id="useremail" class="sign-filed" [formControl]="profileSignupForm.controls['useremail']"
            />


            <div *ngIf="profileSignupForm.controls['useremail'].hasError('required') && profileSignupForm.controls['useremail'].touched"
              class="alert alert-danger">You must include a email.</div>
            <div *ngIf="profileSignupForm.controls['useremail'].hasError('validateEmail') && profileSignupForm.controls['useremail'].touched"
              class="alert alert-danger">Please insert valid email address</div>
            <div *ngIf="profileSignupForm.controls['useremail'].hasError('emailTaken') && profileSignupForm.controls['useremail'].touched"
              class="alert alert-danger">Email allready taken.</div>
            <div *ngIf="profileSignupForm.controls['useremail'].pending">
              Fetching data from the server...
            </div>
          </div>
          <div class="form-group">
            <label class="name-filed">Password</label>
            <!--<input placeholder="Enter your password" [(ngModel)]="userpass" name="userpass" id="userpass" class="sign-filed" type="password">-->

            <input placeholder="Enter your password" type="password" name="userpass" id="userpass" class="sign-filed" [formControl]="profileSignupForm.controls['userpass']"
            />

            <div *ngIf="profileSignupForm.controls['userpass'].hasError('required') && profileSignupForm.controls['userpass'].touched"
              class="alert alert-danger">You must include a password.</div>
            <div *ngIf="profileSignupForm.controls['userpass'].hasError('minlength') && profileSignupForm.controls['userpass'].touched"
              class="alert alert-danger">Your password must be at least 8 characters long.</div>
          </div>
          <div class="form-group text-center">
              <button type="submit" class="btn btn-primary" [disabled]="!profileSignupForm.valid">Register</button>
          </div>

          <div class="row form-group omb_loginOr">
            <div class="col-md-12">
              <hr class="omb_hrOr">
              <span class="omb_spanOr">or</span>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-4 ">
              <a class="btn btn-primary" href="/facebooklogin"><span><i class="fa fa-facebook"></i></span>Facebook</a>
            </div>
            <div class="col-md-offset-4 col-md-4">
              <a class="btn btn-primary" href="/googlelogin"><span><i class="fa fa-google" aria-hidden="true"></i></span>Google</a>
            </div>

          </div>




        </form>
      </div>
      <div class="col-md-6">
        <h3 class="inner-heading">Existing Customers!</h3>
        <alert [alertType]="'login'"></alert>
        <form method="post">
          <div class="form-group">
            <label class="name-filed">Username</label>
            <input placeholder="Enter your Email" [(ngModel)]="loginuseremail" name="loginuseremail" id="loginuseremail" class="sign-filed"
              type="text">
          </div>
          <div class="form-group">
            <label class="name-filed">Password</label>
            <input placeholder="Enter your password" [(ngModel)]="loginuserpass" name="loginuserpass" id="loginuserpass" class="sign-filed"
              type="password">
          </div>
          <div class="form-group text-center">
            <button class="btn btn-primary" (click)="loginUser($event);">Login</button>
          </div>

          <div class="row form-group omb_loginOr">
            <div class="col-md-12">
              <hr class="omb_hrOr">
              <span class="omb_spanOr">or</span>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-4 ">
              <a class="btn btn-primary" href="/facebooklogin"><span><i class="fa fa-facebook"></i></span>Facebook</a>
            </div>
            <div class="col-md-offset-4 col-md-4">
              <a class="btn btn-primary" href="/googlelogin"><span><i class="fa fa-google" aria-hidden="true"></i></span>Google</a>
            </div>

          </div>

          <div class="row form-group">
            <div class="col-md-5">
              <a href="">Forgot Password?</a>
            </div>
            <div class="col-md-2">
              <span>|</span>
            </div>
            <div class="col-md-5">
              <a href="">Forgot Email?</a>
            </div>

          </div>




        </form>



      </div>
    </div>
  </div>
</div>
<!--fotter-section-->
<footer-section></footer-section>