<top-header></top-header>

<!--(emitCommunityChange)="myCrazyCallback($event)"-->
<page-title [pagetitle]="pagetitle"></page-title>


<div class="inner-mid-sec white-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="sign-in-box">
          <div class="user_block"><img src="images/user-pic2.jpg" alt="" /></div>
          <h3 class="user-heding">existing users</h3>
          <alert [alertType]="'login'"></alert>
          <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <div class="login_info_block">
              <h4>Please LOGIN to continue</h4>

              <div class="input-block"> <span class="input-icon"><i class="fa fa-envelope"></i></span>
                <input placeholder="Enter your Email" type="text" name="loginuseremail" id="loginuseremail" class="input-fill2" [formControl]="loginForm.controls['loginuseremail']"
                />

              </div>
              <div *ngIf="loginForm.controls['loginuseremail'].hasError('required') && loginForm.controls['loginuseremail'].touched" class="alert alert-danger">
                  You must include a email.
                </div>
                <div *ngIf="loginForm.controls['loginuseremail'].hasError('validateEmail') && loginForm.controls['loginuseremail'].touched"
                  class="alert alert-danger">
                  Please insert valid email address
                </div>
              <div class="input-block"> <span class="input-icon"><i class="fa fa-lock"></i></span>
                <input placeholder="Enter your password" type="password" name="loginuserpass" id="loginuserpass" class="input-fill2" [formControl]="loginForm.controls['loginuserpass']"
                />
                

              </div>
              <div *ngIf="loginForm.controls['loginuserpass'].hasError('required') && loginForm.controls['loginuserpass'].touched" class="alert alert-danger">
                  You must include a password.
                </div>
              <div class="text-center login_wrp">

                <button type="submit" class="rh_btn login_btn" [disabled]="!loginForm.valid">Login</button>
              </div>

            </div>
            <div class="or-box"><span>or</span></div>
            <div class="social_login_detail">
              <ul class="social">
                <li class="facebook-block"><a href="/facebooklogin"><span><i class="fa fa-facebook"></i></span>
                  <p>Login with </p>
                  Facebook </a></li>
                <li class="google-block"><a href="/googlelogin"><span><i class="fa fa-google" aria-hidden="true"></i></span>
                  <p>Login with </p>
                  Google</a></li>
              </ul>
            </div>
            <div class="form-group text-center Submit-inq">
              <div class="forgot-txt"><a [routerLink]="['/forgotpass']" class="forgot-pas">Forgot Password?</a>
                <a href="#" class="forget-mail">Forget Email?</a>
              </div>
            </div>
            <p class="account-txt">Don’t have a account? <a [routerLink]="['/signup']">Register Now</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>








<!--footer-section-->
<footer></footer>
<!--end-footer-section-->