<div class="packages-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12 no-padding">

        <ul class="packages-info">
          <li><a [routerLink]="['/package']"><span><img src="images/packages.png" alt="" /></span>Packages</a></li>
          <li><a [routerLink]="['/order']"><span><img src="images/deals.png" alt="" /></span>Order</a></li>
          <li><a [routerLink]="['/deal']"><span><img src="images/deals.png" alt="" /></span>Deals</a></li>
          <li><a [routerLink]="['/profile']"><span><img src="images/account.png" alt="" /></span>Account</a></li>
        </ul>

      </div>
    </div>
  </div>
</div>